[2017-07-20 12:36] igorissen opened #2 "How to change the style?"
Hi,

This isn't an issue but a question about the popup styling.
How can we update the popup with my style?

Thanks

[2017-07-20 13:18] MrFrankel commented on #2
@igorissen you can update the css by applying to the internal classes:
here is the default css classes:

[code]

You can override these by applying higher specificity to the classes.

[2017-07-20 14:46] igorissen commented on #2
@MrFrankel, Thank you!

[2017-07-20 14:46] #2 closed

[2017-08-05 01:53] asfo opened #3 "Issues when using ng build --prod"
I'm having an issue when I use the command `ng build --prod` as seen in this image

![Error](http://i.imgur.com/SMX87oR.png)

I know the error is because the `private` property in `popper-content.ts`. Changing it to `public` works as intended. I don't know if this is the best way to fix it but does the job.

[2017-08-07 09:23] MrFrankel commented on #3
@asfo why are you running ng build for? if you want to release a version you should run.
node_modules/.bin/ngc -p tsconfig-aot.json
&
node_modules/.bin/ngc -p tsconfig.esm.json

[2017-08-07 18:58] asfo commented on #3
I'm doing some tests for a Service Worker and I need to build it.

[2017-08-09 21:45] ZeroCR opened #4 "Issues when using Lazy load"
I am trying to implement Lazy load in my project and I am getting this error:

"Error: BrowserModule has already been loaded. "

And it is because this library is importing "BrowserModule"

Using Lazy load the recommendation is to import that library only in the app.component.

[2017-08-10 06:00] MrFrankel commented on #4
Fixed in 1.0.1, thanks for bringing this up!

And if you could punch in a star for the repo that would be great 👍

[2017-08-10 06:00] #4 closed

[2017-08-10 06:00] MrFrankel commented on #3
Fixed in 1.0.1, thanks for bringing this up!

And if you could punch in a star for the repo that would be great 👍

[2017-08-10 06:00] #3 closed

[2017-08-11 15:41] asfo commented on #3
Amazing, thanks! :)

[2017-08-21 14:44] ryanhyslop opened #5 "tsconfig strictNullChecks"
Including in a project with `strictNullChecks:true` in the `tsconfig.json` the following error is returned on compile:

[code]

Line 210 can be refactored to support strictNullChecks, or perhaps typings could be defined separately rather than from the source code? But just wondering if there was any thoughts before I potentially submitted a PR?

[2017-08-22 07:18] MrFrankel commented on #5
@ryanhyslop you can PR away. if we can supports strictNullChecks easily then why not?
Thanks for bringing it up :)

[2017-08-22 14:39] ryanhyslop opened #7 "Default trigger hover kinda breaks example app"
I noticed in doing my PR that the default trigger being set as hover:
https://github.com/MrFrankel/ngx-popper/blob/d73d6ab3b9957a34598f3b8dee8dc033b63820d7/src/popper-content.ts#L144

creates some unusual behaviour in the example app when `popperShowOnStart` is true.

In particular the boundary examples which aren't expected to disappear now disappear when you hover over them. In the demo link (ht

[2017-08-22 16:52] MrFrankel commented on #7
@ryanhyslop A trigger type of None is a good option to have, I can add it tomorrow unless you want to take a crack at it.

I like it!

[2017-08-22 16:54] MrFrankel commented on #5
Fixed by @ryanhyslop at #6

[2017-08-22 16:54] #5 closed

[2017-09-04 12:35] distolma opened #9 "disableDefaultStyling not working in production mode Angular CLI"
Hi, thanks for you work.

I noticed that `PopperController.baseOptions.disableDefaultStyling = true;` in production mode don't work and add `.ngxp-container` selector to the `div`.

![image](https://user-images.githubusercontent.com/16022556/30026644-80b0f0a0-9186-11e7-804d-2ed023d0063d.png)

[2017-09-04 12:38] MrFrankel commented on #9
@distolma well, I don't use angular cli, so ill have to see if I can reproduce it.
probably since its a static variable angular build ignores runtime changes to it.

Thanks for brining this up, ill look into it..

[2017-09-04 12:39] MrFrankel commented on #7
@ryanhyslop did you get around to tackling this?

[2017-09-04 14:44] MrFrankel commented on #9
@distolma can you tell me where in your code exactly are you calling `PopperController.baseOptions.disableDefaultStyling = true;`?

it should be as soon as possible, prefereably in the bootstrapping of the app.

[2017-09-04 14:50] distolma commented on #9
I'm calling this stuff in component constructor.

![image](https://user-images.githubusercontent.com/16022556/30031315-884b1fc6-9199-11e7-94d5-d63ed014f703.png)

[2017-09-04 14:56] MrFrankel commented on #9
You do realize that setting the baseOptions will effect all popper instances right?

Anyway I have reproduced it, seems to be related to a recent change of mine, will be fixed by tomorrow.

Thanks:)

[2017-09-04 14:57] distolma commented on #9
How can i modify only current instance of popper?

[2017-09-04 18:00] MrFrankel commented on #9
[popperDisableStyle]="true"

[2017-09-05 08:33] MrFrankel commented on #9
Seems to be working now, setting the baseOptions on the PopperController sets the static base options, which apply on all popper elements,
This should run before the elements view's are rendered so best would be to run it before the application it bootstrapped. fixed in  1.1.0

[2017-09-05 08:33] #9 closed

[2017-09-05 08:34] MrFrankel commented on #7
Added none trigger type in version 1.1.0.

[2017-09-05 08:34] #7 closed

[2017-09-06 09:33] frikkfossan opened #10 "Popper is not always first, hides behind other element"
Hello.
My implementation of ngx-popper doesn't always put the popper as the front html element.

![image](https://user-images.githubusercontent.com/31690628/30104653-89b20b1e-92f6-11e7-81be-756daf1bff61.png)

My markup:
`<a
    *ngIf="fieldValue.field.description?.length > 0"
    [popper]="fieldValue.field.description"
    [popperTrigger]="'hover'"
    [popperPlacement]="'auto-top'"
    href="java

[2017-09-06 10:51] MrFrankel commented on #10
Have you trying giving the container position relative and a higher z-index?

[2017-09-06 12:47] frikkfossan commented on #10
That worked great!
added these styles:
.ngxp__container {
    ...
    position: relative;
    z-index: 999;
}

z-index = 999 to be sure that 99% of all times it should render on top of all other elements.

[2017-09-06 12:47] #10 closed

[2017-09-08 15:04] lincolnthree commented on #10
This is actually something I'm struggling with. Relative position breaks the page layout (causes popper to be rendered inline) and the z-index seems to have no effect (even with !important)

[2017-09-08 17:14] frikkf commented on #10
Even though the z-index on the popper element has the highest value?

[2017-09-08 17:52] MrFrankel commented on #10
@lincolnthree z-index applies to all positioned element i.e.(absolute, relative, fixed).
ngx__container is absolute by default so you can leave it at that.

You may be encountering a situation where the container element has `overflow: hidden` applied to it.

If you want to create a demo repo I can maybe help more specifically.

[2017-09-13 20:26] lincolnthree commented on #10
So it turns out that you're right. The popper is hidden by the overflow element; however, I resolved the issue by placing the `<popper-content>` in a wider scoped tag on the page. E.g. In the `<body>` tag directly, rather than inline with the element being popped. This allowed the library to position and display the popper correctly.

[2017-09-18 13:34] lincolnthree opened #11 "Poppers used in *ngFor loops seem to attach only to last rendered item in loop"
Hey, it's me again :)

So apparently I'm experiencing an odd behavior. When using poppers in an `*ngFor` loop, no matter which item (with the popperTrigger attribute) you actually trigger, the popper will render on the last element of the list.

[code]
[code]

Thoughts?

[2017-09-18 14:07] MrFrankel commented on #11
@lincolnthree i have just pushed a fixed for this on version 1.2.0
try it out and let me know.

regardless, if the content of the popper is just text you can either use popper as a text input, i.e:
[code]

[2017-09-18 21:07] lincolnthree commented on #11
Confirmed this is fixed! I tried the plain input, but then I get into the issue of the popper being hidden by elements with "overflow: hidden;" - Putting the <popper-content> tag closer to the root level helps overcome that issue. (Would be nice if it didn't have to work that way though!)

Thank you for the quick fix!

[2017-09-19 08:05] MrFrankel commented on #11
I am restricted by the implementation of popper.js, ill open a discussion with the author @FezVrasta if he can add support for overflow: hidden in popper.js

[2017-09-19 08:05] #11 closed

[2017-09-22 04:41] kgrvr opened #12 "How to configure with SystemJS?"
Getting this error when importing using SystemJS:
![image](https://user-images.githubusercontent.com/11766028/30729403-de796fce-9f7c-11e7-8f5f-188fe629d0b7.png)

This is my SystemJS:
[code]

I've also used Gulp to copy index.js, popper.js, popper-content.js, popper.model., and popper.module.js from node_modules directory to my project's libs folder.

My Gulp file:
[code]

What's wrong I'm doing?

[2017-09-22 07:23] kgrvr commented on #12
Okay, I solved it by importing Popper.JS too in the similar way as above.
But now I'm getting another error while importing NgxPopperModule in my module file.

![image](https://user-images.githubusercontent.com/11766028/30733485-c0579c06-9f94-11e7-89af-ba72aa0251c0.png)

[code]

[2017-09-22 21:32] gehreleth opened #13 "Dealing with z-order"
I've ported DOM structure produced by this jQuery plugin to Angular 4:

https://rawgit.com/360Learning/jquery-select-areas/master/example/example.html

Now DOM structure looks like this:

[code]

Next step: I want to display popper when mouse is hovering a selection. Alas, the popper is stationed below other selections. setting z-index to 10000 to popup-padding don't help. Any ideas?

[2017-09-24 07:00] MrFrankel commented on #13
First of all, you done need to implement ngxp_inner/ngxp-arrow elements, it is automatically generated when popper is initiated, all you have to do is place the text in the popper-content or assign it to the popper directive if its only text.

Also I cant see where the popper directive is attached to an element.

First option:

[code]

Second option:
[code]

[2017-09-24 07:01] MrFrankel commented on #12
I have no experience working with SystemJs, from the error it seems the NgxPopperModule is not getting imported properly hence the "undefined".

if you can supply a demo page I can try looking into it.

[2017-09-24 10:18] kgrvr commented on #12
Hey, Thanks for the reply.
See the issue was that index.ts file was not importing popper.module file and popper.js file. So to solve this I needed to explicitly tell SystemJS to load these two files, which usually does not happen.

[code]

Its better if you just figure it out how to do it directly, i.e. without the users of library to do it explicitly.
This solved this issue.. Thanks.

I'm having

[2017-09-24 10:18] #12 closed

[2017-09-24 11:10] MrFrankel commented on #12
Let me know if you need anything else,
Ill add this to the docs.

Thanks1

[2017-09-24 11:28] kgrvr opened #14 "Consider renaming popper.ts file"
See I inspected your code, and found out that
https://github.com/MrFrankel/ngx-popper/blob/860fad0b2f35725ad8b208f2e168ddde8ab1960d/src/popper-content.ts#L217
this line here is creating problem with your own popper.js (of your own library) file because
https://github.com/MrFrankel/ngx-popper/blob/860fad0b2f35725ad8b208f2e168ddde8ab1960d/src/popper-content.ts#L9
you imported it from popper.js (Of o

[2017-09-24 11:34] MrFrankel commented on #14
I see,
since i'm using TS as the module loader it has no problem having to identical names as they are mapped to different namespaces.

Guess your saying its not the case for SystemJS.

I guess I can change the name, but Ill need to see about backwards compatibility.

Do you have a workaround for this for now?

[2017-09-24 11:44] kgrvr commented on #14
I'm trying some other solutions..
But I can wait till you rename the file.

[2017-09-24 11:45] MrFrankel commented on #14
It will probably take me a couple of days, as I need to verify its not a breaking change.

[2017-09-24 11:53] kgrvr commented on #14
That's fine.. but I don't think it will break anything.
You'll just need to change the reference path of the file in three file namely: popper.module.ts, popper-content.ts and index.ts.
Rest can work as it's working.

[2017-09-24 13:27] MrFrankel commented on #14
cool, thanks for the research!

[2017-10-19 01:02] jplew opened #15 "Error: Can't bind to 'popperShowOnstart' since it isn't a known property of 'div'."
Hi I got the following error when trying out the demo:

[code]

The problem is that there is a typo in the documentation:

    [popperShowOnstart]="true"

Should be:

    [popperShowOnStart]="true"

:)

[2017-10-19 09:54] MrFrankel commented on #15
Fixed,
Thanks!

[2017-10-19 09:54] #15 closed

[2017-10-19 13:56] MrFrankel commented on #14
Fixed!

[2017-10-19 13:56] #14 closed

[2017-10-19 14:49] jplew commented on #15
Thank you! Great package, easy to install and use

[2017-10-30 14:05] niconaso opened #16 "Issue with Ionic Framework"
The tooltip doesn't hide when input lost focus. This occurs only on the mobile, not in browser. Do you provide any method to hide the tooltip manually?
Perpahs this issue is related with this one: https://github.com/FezVrasta/popper.js/issues/340

[2017-11-02 15:16] MrFrankel commented on #16
@niconaso
probably not related to the popper issue since I only use popper.js to position the element, I handle the hide/show mechanism.

you can manage it manually like so:

<input popper="popperContent", popperTrigger="click" (blur)="popperContent.hide()"/>
<popper-content #popperContent>blab blab</popper-content>

[2017-11-02 16:15] niconaso commented on #16
@MrFrankel thank you very much!

[2017-11-05 10:11] #16 closed

[2017-11-21 17:33] #13 closed

[2017-12-12 22:05] JorgeLoaiza12 opened #18 "The tooltip can't be closed on iPhone"
While the tooltip works fine on Android devices and Chrome's mobile simulator, when seen on an iPhone, the tooltip won't close unless the page is refreshed or another tooltip is selected.

`<button class="btn-icon"
                       [popper]="popperContent"
                       [popperTrigger]="'hover'"
                       [popperPlacement]="'left'">
Open Tooltip!
</button>

[2017-12-13 09:49] MrFrankel commented on #18
@JorgeLoaiza12  Thanks for bringing this up, Ill take a look into it later today.

[2017-12-13 18:48] JorgeLoaiza12 commented on #18
I use it with 'Click' and it does not work either.

Create a directive and this was solved:
` ngOnInit() {
    if ('ontouchstart' in document.documentElement) {
      jQuery('body').children().on('mouseover', null, function(){});
    }
  }

  ngOnDestroy() {
    if ('ontouchstart' in document.documentElement) {
      jQuery('body').children().off('mouseover', null, function(){});
    }
  }`

[2017-12-14 08:16] MrFrankel commented on #18
OK, seems like I just need to add an event for ontouchstart ontouchend,
Ill add it to the coming release.

[2017-12-14 15:23] MrFrankel commented on #18
@JorgeLoaiza12 I have released a new version 1.5.11, can you please check if its fixed?

[2017-12-14 20:00] johnny4young opened #19 ""click outside" to hide popper"
Hi guys, today I'm using this awesome library(solved my problem the show popover correctly inside of a calendar[fullcalendar]).

I needed this feature, but I solved using only Angular,

1. you need create a directive( clickOutside):

so in the template, I did this:
`<popper-content  #popMedicineContent (clickOutside)="popMedicineContent.hide()">
....
</popper-content>`

Regards,

[2017-12-15 13:37] FloppyNotFound opened #20 "Directive [popperTimeout] does not change behavior"
I want to tell the popup to close after a specified amount of time, not immediately.
So I set [popperTimeout]="500" (for example) to my popper-HTML element.
The directive to control this seems to be [popperTimeout], but it doesn't matter what value I set, it doesn't change the behavior.

I guess the error lies in popper-directive.ts (https://github.com/MrFrankel/ngx-popper/blob/master/src/popper-d

[2017-12-15 13:50] MrFrankel commented on #20
@FloppyNotFound The timout seems to work fine for me,
Can you please send all the parameters you are using?

[2017-12-15 13:52] MrFrankel commented on #19
@johnny4young I glad you are finding the component useful.
It should actually close on its own when a click outside occurs you the trigger is set to 'click', can you please all the parameters you are using?

[2017-12-15 14:12] MrFrankel commented on #20
@FloppyNotFound Come to think of it, hideDelay currently only works with showOnStart.
Do you think it should also be supported on all show triggers, i.e click, hover ?

[2017-12-15 14:15] FloppyNotFound commented on #20
@MrFrankel My customer complained that the Popup disappears too quickly, so that sometimes when he moves his mouse into the overlay, it disappears before the mouse arrow is even there (there's a link within the overlay, so he has to do that).

In order to resolve this issue I tried to increase the hide delay onHover, but setting the directive popperTimeout had no effect, so I started investigating

[2017-12-15 14:20] MrFrankel commented on #20
I see two use cases for timeout here.
One is a buffer after a hide event is triggered(mouseout, click, outsideClick)
Second is after show, always hide after a certain time passes.

So I think ill add hideTimout and hideAfterShow params, what do you think @FloppyNotFound ?

[2017-12-15 14:23] johnny4young commented on #19
Hi, my issue is more like a support and not an error. 👍

[2017-12-15 14:27] FloppyNotFound commented on #20
Sounds great to me, thanks for the quick response! Could you please add those two too to the documentation? I had troubles finding out what hideTimeout actually does, I couldn't find it documented and had to look into the code.

[2017-12-15 14:31] MrFrankel commented on #20
Currently hideTimeout only applies when used with showOnStart.

Ill add these params later today and add them do the documentation with a new version, if you can wait till then.

Thanks

[2017-12-15 14:32] MrFrankel commented on #19
Im actually thinking if adding a closeOnClickOutsie param built in,
What do you think?

[2017-12-15 14:37] FloppyNotFound commented on #20
@MrFrankel Sure, thanks again!

[2017-12-15 14:40] johnny4young commented on #19
I would like it!!!!

[2017-12-15 20:40] MrFrankel commented on #20
Just released version 1.6.0. you can now set:
popperTimeoutAfterShow, which will always hide the popper-content after the specific time after its shown.
popperTimeout, which will hide the popper at a delay when a hide event is triggered.
popperCloseOnClickOutside, default to true, in case you dont want the popper to close on a click outside

Let me know if this suites your use case.

Also, stars a

[2017-12-15 20:40] MrFrankel commented on #19
Just released version 1.6.0. you can now set:
popperTimeoutAfterShow, which will always hide the popper-content after the specific time after its shown.
popperTimeout, which will hide the popper at a delay when a hide event is triggered.
popperCloseOnClickOutside, default to true, in case you dont want the popper to close on a click outside

Let me know if this suites your use case.

[2017-12-18 09:50] FloppyNotFound commented on #20
Hi,
thanks for the update, I will test it immediately.
I can't find popperTimeoutAfterShow and popperCloseOnClickOutside in the documentation yet, have you added them there? It would be a shame if you added them to the code and people don't know they can use them :)

[2017-12-18 10:12] MrFrankel commented on #20
Yea, I will add them once I get the all clear from you. once I expose something I cant take it back :)

[2017-12-18 10:17] FloppyNotFound commented on #20
Hey again, tested it (for my scenario) and it works like a charm.
Thanks again for the quick response, I will close the issue now.

[2017-12-18 10:17] #20 closed

[2017-12-21 07:11] lazarljubenovic opened #22 "Improve website"
The current [website](https://mrfrankel.github.io/ngx-popper/) is a nice showcase of capabilities, but it's missing couple of things (from top of my head):

- There is no link to GH repo.
- There is no code example for the effects described in demos.
- Text and images are swapped (mirrored) from the original site which is fine, but this makes third demo wrong: the popover is never on the _left_, n

[2017-12-21 07:33] lazarljubenovic opened #23 "Overriding defaults should be done via DI"
The docs state to manually change static properties, and suggests to do it as soon as possible, even before Angular has bootstrapped.

The idiomatic way to do this in Angular is using ID with a static method on the Angular Module called `.forRoot`, and, if needed, a `.forChild`, which accept configuration object. This also allows for multiple configurations in the app based on where the popper is

[2017-12-21 07:45] lazarljubenovic opened #24 "A huge CSS file in the examples"
The [CSS file used for examples](https://github.com/MrFrankel/ngx-popper/blob/master/example/app/app.component.css) has a huge chunk (6k+ LOC?) of unused styles. It contains a ton of classes which are not present in the document at all so I'm assuming they are a mistake.

[2017-12-21 12:11] MrFrankel commented on #24
@lazarljubenovic Yes, they are just copied over from the original site, I have a plan to recreate the whole example page from scratch, for now ill make sure its not part of the npm package.

Thanks for bringing it up!

[2017-12-21 12:13] MrFrankel commented on #23
Hey, yes, this has also been on my list of enhancements, now that the package has some production users ill get to it.

I might leave the old method in place for a while as deprecated for backwards compatibility.

[2017-12-21 12:14] MrFrankel commented on #22
All valid points, I will take them into account when creating a new example site.

Thanks!

[2017-12-21 12:14] #19 closed

[2017-12-21 12:15] MrFrankel commented on #18
@JorgeLoaiza12 have you had a chance to see if this is fixed?

[2018-01-01 12:40] MrFrankel commented on #23
Added in 1.8.3

[2018-01-01 12:40] #23 closed

[2018-01-02 08:22] MrFrankel commented on #24
removed unused css

[2018-01-02 08:23] #24 closed

[2018-01-10 15:53] dzNavitski opened #25 "ngx-popper doesn't work well with ChangeDetectionStrategy.OnPush"
Using `ngx-popper` inside component with `ChangeDetectionStrategy.OnPush` affects `ngx-popper` behavior (incorrect positioning, unexpected behavior on triggers).
To reproduced the issue add `ChangeDetectionStrategy.OnPush` to the example component.

[2018-01-10 20:24] MrFrankel commented on #25
Thanks for bringing this up,
I can reproduce the issue, ill try and get a fix out by tomorrow.

[2018-01-10 21:17] MrFrankel commented on #25
@dzNavitski,  So, the issue is that the show and hide are wrapped in setTimouts,
In cases where `ChangeDetectionStrategy.OnPush` is declared, these do not trigger a change detection.
This has been fixed in 1.8.6, if you can confirm so I can close the bug.

Also, a start would be much appreciated :

[2018-01-10 21:18] MrFrankel commented on #18
closing since no response

[2018-01-10 21:18] #18 closed

[2018-01-11 08:07] dzNavitski commented on #25
@MrFrankel it works great. Thanks a lot

[2018-01-11 08:07] #25 closed

[2018-01-11 14:06] PascalHonegger opened #26 "Tooltip isn't shown unless you explicitly declare a popperTrigger in the template"
# Situation
We want to use this library as our main tooltip library, but don't want to state `popperTrigger="hover"` every time, when `popper="my tooltip text"` would suffice. We expected the popper to show when we don't explicitly declare a popperTrigger, as the documentation states that there are configurable default values.
# Problem
Sadly, the default value doesn't work and the tooltip is only

[2018-01-11 14:10] PascalHonegger commented on #22
I just wanted to mention that the current page doesn't load in firefox (57) or internet explorer (11), which leaves me as a developer concerned about browser support of the library, even though ngx-popper works flawlessly in both browsers.

[2018-01-11 15:38] MrFrankel commented on #22
@PascalHonegger I can confirm the library is compatible with all evergreen browsers and ie10+.
The example page is indeed outdated, i'm working on it and hope to have a shiny new one out soon enough.

Thanks for brining this up!.

[2018-01-11 15:39] MrFrankel commented on #26
@PascalHonegger Checking...

[2018-01-11 16:28] PascalHonegger commented on #26
@MrFrankel thank you a lot for the quick response, the issue seems to be resolved. We‘ve had some terrible experiences with other open source project so it‘s refreshing to get an issue fixed and published within hours, I‘ll gladly give you a star.

[2018-01-11 16:28] #26 closed

[2018-01-11 22:27] MrFrankel commented on #22
@PascalHonegger the current example is fixed on FF, working on IE.

[2018-01-16 02:48] slack4u opened #27 "Issues when using NgxPopperModule.forRoot() with AoT bulid option"
I'm  getting the following error message when I use the command `ng build --aot` or `ng build --prod`.

[code]

Environment:
[code]

[2018-01-16 06:23] MrFrankel commented on #27
@slack4u seems like a knows issue in angular, i'm working on a fix.
For now you can revert to directly changing the static defaults like so:
`PopperController.baseOptions.disableAnimation = true;`

Ill update once this is resolved, thanks for bringing this up.

[2018-01-16 09:26] MrFrankel commented on #27
@slack4u Issue should be fixed in v1.9.5.

[2018-01-16 23:09] slack4u commented on #27
@MrFrankel It works great. Thanks!

[2018-01-16 23:09] #27 closed

[2018-01-16 23:41] slack4u opened #28 "Can't override 'placement' default value"
I have overridden `placement` default value, but it doesn't change the behavior. It seems that it is still `'auto'`.

code sample:
[code]

[2018-01-17 09:09] MrFrankel commented on #28
@slack4u fixed in 1.9.6.

Good catch, thanks!

[2018-01-17 10:23] MrFrankel commented on #28
@slack4u can we close this?

[2018-01-17 15:27] slack4u commented on #28
@MrFrankel It works perfectly! Thanks for the quick response.

[2018-01-17 15:27] #28 closed

[2018-01-30 01:22] slack4u opened #29 "Issues when using fullTemplateTypeCheck settings"
It will not work if you have enabled `fullTemplateTypeCheck` settings that became available from Angular 5.2 ( https://blog.angular.io/angular-5-2-now-available-312d1099bd81 ) .

src/tsconfig.app.json :
[code]

src/app/app.component.html :
[code]

`ng build --aot` :
[code]

[2018-01-30 18:56] MrFrankel commented on #29
@slack4u checking...

[2018-01-30 21:33] MrFrankel commented on #29
Should be fixed in v2.0.1, @slack4u can you please verify?

[2018-01-31 01:37] slack4u commented on #29
@MrFrankel Thank you for the quick fix!!

[2018-01-31 01:37] #29 closed

[2018-01-31 09:11] MrFrankel commented on #29
Thanks for bringing this up!

[2018-02-24 00:04] robertjorg opened #30 "Click inside popper does not close popper"
This is a great tool for making sure my popups go in the correct place. I am having a problem when I try to click inside of the popper-content.

If I click on the element that opens the popper-content or anywhere around (when popperHideOnClickOutside=true) the popper-content is hidden. However, if I click inside of the popper-content is not hidden.

Am I missing something in the code? I used all t

[2018-02-24 08:48] MrFrankel commented on #30
@robertjorg Hey,

You can close the popper-content on click inside programmatically like so.

[code]

[2018-02-24 14:32] robertjorg commented on #30
Thanks, that fixed what I needed. I should have noticed that the tool is hiding and unhiding the element. The tool is great, and thanks again.

[2018-02-24 14:32] #30 closed

[2018-02-25 07:44] MrFrankel commented on #30
@robertjorg hope it serves you well.

p.s. stars are welcome :)

[2018-02-26 12:33] vvavdiya opened #32 "popover content background color set and hiding"
I have shown popover on mouse over. popover displays in transparent backgound and some partion of popover content is hiding behind other HTML. How to set the background color and zIndex of popover content?
<img width="477" alt="screen shot 2018-02-26 at 6 03 10 pm" src="https://user-images.githubusercontent.com/4570688/36670789-5b8b749e-1b1f-11e8-9ff8-e25f35725801.png">

[2018-02-26 13:06] MrFrankel commented on #32
you can set the . ngxp__container class background property.
[code]

if you can supply a demo of the issue I could help more specifically

[2018-02-27 10:11] vvavdiya commented on #32
I am using ngx-popper in one of my angular components. I tried to add above mention class in the mycomponent.component.scss file. but the style is not overriding. How to override the ngxp__container style?

[2018-02-27 16:04] MrFrankel commented on #32
@vvavdiya since Angular enables css encapsulation by default, the style added to your .scss file will not propagate to nested component list the popper-content.

You should either define the css in a global .scss file or use in your component
`encapsulation : Viewencapsulation.none`

[2018-02-28 12:34] vvavdiya commented on #32
Thanks to Frankel for help.
I added in global .scss file and it works.

[2018-02-28 12:35] #32 closed

[2018-02-28 13:42] MrFrankel commented on #32
@vvavdiya Hope it serves you well.

P.S. stars are welcome :)

[2018-03-05 21:50] damo1884 opened #34 "Popup not getting positioned correctly when first opened"
Fix is here: https://github.com/MrFrankel/ngx-popper/pull/33

[2018-03-07 16:22] alexandremoore commented on #2
@MrFrankel , even with higher specificity, overriding the classes didn't work for me unless I use the !important rule.

[2018-03-07 18:31] MrFrankel commented on #2
@alexandremoore there is a global option for disableDefaultStyling, if you set it in the forRoot as false it will disable any default styles and you can apply your own

[2018-03-08 18:02] agustinbcu01 opened #35 "Blur Content"
For Chrome, Opera and Safari.
The content looks blur.
looks like is because the  transform: translate3d(...)

![image](https://user-images.githubusercontent.com/24256131/37167763-799d1e0a-22c8-11e8-8b3c-cea1f170451d.png)

[2018-03-08 18:17] MrFrankel commented on #35
@agustinbcu01 I dont think its related to the library, its used quit extensively by me and others and I have not encountered this.
If you can provide a way to reproduce Ill gladly try to fix it.

Or you can disable the use of tranform3d for positioning by adding
 [modifiers]="{computeStyle: {gpuAcceleration: false}}"

if this helps let me know, so I can add it as a global property.

[2018-03-08 18:23] MrFrankel commented on #34
@damo1884 can you provide a way to reproduce this?

[2018-03-08 18:30] MrFrankel opened #36 "add more tests to build"

[2018-03-08 20:39] agustinbcu01 commented on #35
Works Great. Thanks.

[2018-03-08 22:47] MrFrankel commented on #35
@agustinbcu01 can we close this then?

[2018-03-09 14:30] agustinbcu01 commented on #35
go ahead. thanks

[2018-03-09 14:46] MrFrankel commented on #35
Thanks.

P.S stars are welcome :)

[2018-03-09 14:46] #35 closed

[2018-03-09 19:55] alexandremoore opened #38 "Accessibility issues"
In popper-content.ts, it would probably be more appropriate to set the role to `role="tooltip"` instead of `role="popper"`.

The aria-hidden attribute should also be use on the container. `aria-hidden="true"` when the tooltip is not visible and `aria-hidden="false"` when it's showing. Similarly to what is already done with `display: none` vs `display: block`.

Also, it would be great to be able to

[2018-03-09 20:29] MrFrankel commented on #38
@alexandremoore all very good points, as for the aria-describedby, if you use popper-content component you can simply add it to that.
If you use the text option for popper,I wouldn't wand to use the one from the directive as it may not be what the user intends, I guess you can set it as:
`[popperAriaDescribeBy]="'tooltip1'"`

would that do?

[2018-03-10 00:37] IBYuMe commented on #2
@MrFrankel, is it possible to access the 'dataObject'? Looking at the Popper.js docs I was hoping to use the "data.arrowStyles" property to modify the arrow styles instead of disabling the default styling or getting into a "!important" specificity war...  (https://popper.js.org/popper-documentation.html#dataObject)

[2018-03-10 06:34] vinayakpatil commented on #38
+1

[2018-03-11 11:21] virgil-av opened #39 "auto-"

[2018-03-11 11:21] #39 closed

[2018-03-12 10:23] MrFrankel commented on #2
@IBYuMe you can access the dataObject by passing modifiers to the popper
`[popperModifiers]="{...}"`

[2018-03-13 16:16] hspier opened #40 "Option to not display tooltip when text is empty"
If the text to display is empty (or null), the tooltip displays a very small box with the arrow. It would be nice if there was a way to not display the tooltip when text content is empty.

As a workaround, using the popper-content, I can attach a class that will simply put 'display: none' when text is empty, but this needs to be repeated each time a tooltip has empty text.

Considering the tooltip

[2018-03-13 19:43] MrFrankel commented on #40
@hspier why dont you use popperDisabled?

`<div [popper]="someTextRef" [popperDisabled]="!someTextRef"></div>`

[2018-03-13 19:49] hspier opened #41 "Popper directive "content" input errors"
The popper directive uses the content field in two ways:
- The name of a template reference
- A text string to display as a tooltip

In some situations, errors are thrown in the directive because of this dual use of field.

Given this template:
[code]
and this code:
[code]
results in the following error:
[code]
Also, looking at the code, there are no changes handler for the "content" input, only "

[2018-03-13 19:52] hspier commented on #40
@MrFrankel I must have missed that flag, thanks for pointing it out!

[2018-03-13 20:01] MrFrankel commented on #41
you should use it like so:
`<div [popper]="{{myProperty}}" (click)="onClick()"></div>`

[2018-03-13 20:10] hspier commented on #41
This doesn't work as interpolation cannot be used with the form []. Angular error is:
[code]
Also using the form:
[code]
results in the same error (Cannot create property 'referenceObject'...).

[2018-03-13 20:16] MrFrankel commented on #41
`<div popper="{{myProperty}}" ...></div>`

this works fine for me, can use provide a more info?

[2018-03-13 20:19] hspier commented on #41
myProperty needs to change after being initialized to another value. In the example above, I was using a click handler to change the value. The issue happens when I mouse over the element that should display the tooltip. Before invoking the click handler, the tooltip was displaying correctly.

[2018-03-13 20:40] MrFrankel commented on #41
indeed this is a limitation, you should then use:
<div [popper]=popper1 ...></div>
`<popper-content #popper1>{{myProperty}}</popper-content>`

Ill think about a way of supporting you use case tomorrow.

[2018-03-13 21:51] MrFrankel commented on #41
@hspier Ive just released a new version 2.2.1 with support for this.
<div popper="{{myProperty}}" ...></div>
should work fine now, can you please verify?

[2018-03-14 11:58] #40 closed

[2018-03-14 13:50] hspier commented on #41
Just tested, the issue is resolved. Thanks for the quick fix!

[2018-03-14 13:52] MrFrankel commented on #41
Sure, hope it serves you well.

PS stars are appreciated :)

[2018-03-14 13:52] MrFrankel commented on #41
Sure, hope it serves you well.

PS stars are appreciated :)

[2018-03-14 13:52] #41 closed

[2018-03-14 20:28] IBYuMe commented on #2
@MrFrankel  Thank you for the quick response!
I tried to make a custom modifier but I still can't seem to overwrite the default arrow properties even if I modify data.arrowStyles. With my custom modifier I verified the 'debugger' is hit and the arrowStyles object is modified, but the CSS generated for the arrow styles is still the grey color specified in ngx-popper popper-content.ts CSS.

` var cu

[2018-03-15 14:01] MrFrankel commented on #2
@IBYuMe I think the best solution would be for me to supply a way to inject a class to override the .ngx__container class, that way you can provide any class name you want and define and css props on that directly.

Does that sound useful?

[2018-03-16 02:34] IBYuMe commented on #2
@MrFrankel Yes! That would be very useful, thanks! I've been looking for something like that, but hadn't been able to find it.

So far, I've managed to hack the style of most of the popovers by defining a global class that had about 5 layers of nested specificity... However the css still wasn't specific enough to change certain popovers that were deeply nested in components, so I was looking at tr

[2018-03-16 08:57] MrFrankel commented on #2
@IBYuMe ive released this under 2.3.1,

You can now simply add the applyClass option in the forRoot global props or add it to a specific popper via an input such:

`<div [popper]="'some text'" [popperApplyClass]="'class1, class2, class3'"></div>`

Let me know if this helps.

[2018-03-17 12:16] Rohith47 opened #42 "Unable to get Access to Popper Object in my component"
I'm trying to get access to Popper Object in component. I want to instantiate popper from component and not via directive.
Could any one please let us know, how can we instantiate popper by passing , reference and popper element ?

[2018-03-18 08:02] MrFrankel commented on #42
Can you provide an example of what you want to achieve exactly?

[2018-03-21 20:23] agustinbcu01 opened #43 "Bad ref element"
When a tag <a> is a floating right and is the last visible element, the popper points outside the tag, at the right side.

[2018-03-21 21:04] MrFrankel commented on #43
Not quite sure what you mean, can you provide a way to reproduce it?

[2018-03-21 21:09] agustinbcu01 commented on #43
Let me work on a example with your sample. because I can't isolate my project issue. We use Bootstrap buttons. inside the popper content

[2018-03-22 21:49] agustinbcu01 commented on #43
Please close, I can't reproduce the situation in a clean environment.
Thanks any way

[2018-03-22 21:49] #43 closed

[2018-03-23 18:13] IBYuMe commented on #2
@MrFrankel  Thank you very much for adding the feature- I'm sorry for the delay but I haven't had a chance to work on this all week... Once I get a chance to try out the new version I'll add an update to say if it fixed my issue.

[2018-03-24 18:32] vlio20 opened #45 "popperForceDetection - no doc"
Could you please explain and add description to this configuration:
popperForceDetection

[2018-03-24 19:52] MrFrankel commented on #45
It was put in place to solve #25,
I cases where a onPush strategy is used in a parent component, this enforces a change detection event to be used when popper changes.

I will leave this open until I add description column to each property.

[2018-03-24 20:11] vlio20 opened #47 "[Suggestion] remove the styling encapsulation"
Hi,
I don't see any benefit to adding the styling encapsulation. It just makes us (the users of the component) generate global stylings instead of putting the styles next to component.

You already have the encapsulation with the `ng__ prefix`.

I don't mind PR if you agree.

[2018-03-24 20:13] MrFrankel commented on #47
hmmm, id have to think about this...

[2018-03-25 07:53] MrFrankel commented on #47
@vlio20 thinking about this, it will only be relevant if both the popper-content will have no ViewEncapsulation set and also its containing component.

If the containing parent has style encapsulation set then it will not propagate to and nested components anyway

[2018-03-25 10:16] vlio20 commented on #47
Yes, but in most cases, we use it as a child of the container - putting it all in a global file messes the scaffolding.
Anyway, I still don't see any reason for you to choose working with view encapsulation.

[2018-03-25 10:26] MrFrankel commented on #47
It wasn't a consensus decision, that the Angular default, I agree it has no real benefit, i'm just worried about backward compatibility.

[2018-03-25 10:29] vlio20 commented on #47
You can release under major change version. Also, I think that the risk minimal.

[2018-03-25 10:34] MrFrankel commented on #38
in version 2.4.0 i've added aria-hidden property and inputs for
popperAriaRole and popperAriaDescribeBy

[2018-03-25 10:34] MrFrankel commented on #47
I've removed it in v2.4.0

[2018-03-25 10:35] MrFrankel commented on #45
added docs, let me know if I can close this

[2018-03-25 17:52] vlio20 commented on #47
Awesome!

[2018-03-25 17:52] #47 closed

[2018-03-26 13:27] alexandremoore commented on #38
:+1:

[2018-03-26 18:10] #38 closed

[2018-03-26 18:10] #45 closed

[2018-03-27 00:31] IBYuMe commented on #2
@MrFrankel Thank you for this change! It has allowed me to get enough specificity to style all the popovers in my app.

Would it be difficult to add a similar ' [popperApply**Arrow**Class]’to put a css class directly on the arrow component?

I feel like that would make the css cleaner, right now I need to specify an extra class ‘popover-content' on the actual ‘popover-content’ element to create ex

[2018-03-28 10:40] yanbai-kooboo opened #48 "Can we display rich content in tooltip? like rendering HTML for custom tooltips."
What is the expected behavior?

Hi, I wonder that if we could render HTML in tooltip?
 It seems we can't do that now.
![image](https://user-images.githubusercontent.com/13013712/38024275-1afd820a-32b7-11e8-890d-385d7ffd7750.png)
Like in screenshot, "keyword.popper1Content" is a string of HTML fragment.

but now it just render HTML tag without any layout.

[2018-03-28 12:25] MrFrankel commented on #48
@yanbai-kooboo you can simply do:
`<div popper="{{keyword.popper1Content}}"></div>`

or

[code]

[2018-03-28 12:27] MrFrankel commented on #2
@IBYuMe first, it would be better to open a new issue for this, as this issue is already closed.
Second, ill try add the arrow class hook tomorrow.

[2018-03-29 13:04] yanbai-kooboo commented on #48
@MrFrankel Thanks it works!!

[2018-03-29 13:07] yanbai-kooboo opened #49 "How to change tooltip style?"
1. I tried [popperApplyClass] to inject custom class, but style is not applied, I use Angular 5. Is there any approaches that we could set custom style for this tooltip, like remove arrow.

2. Why the tooltip is transparent after it appears?

[2018-03-29 13:09] MrFrankel commented on #49
@yanbai-kooboo can you provide the code you are applying so I can see what the issue is?

[2018-03-29 13:21] yanbai-kooboo commented on #49
It's just a simple Angular5 demo
app.module
![image](https://user-images.githubusercontent.com/13013712/38091064-fc312c24-3396-11e8-91a8-287f2f9e8aaf.png)

html:
![image](https://user-images.githubusercontent.com/13013712/38091049-f204c6d4-3396-11e8-81da-c0659dd80e49.png)

css
![image](https://user-images.githubusercontent.com/13013712/38091031-e69ad748-3396-11e8-8291-5924fa550bd1.png)

output:
![

[2018-03-29 13:55] MrFrankel commented on #49
You should either add
encapsulation: ViewEncapsulation.None to your component decorator or add the css class to a global css file.

[2018-03-29 17:24] IBYuMe opened #50 "Request for adding a modifier to add classes to style the 'arrow' of the ngx-popper"
Would it be difficult to add a ' [popperApplyArrowClass]’ modifier to put a css class directly on the arrow component?

I feel like that would make the css cleaner, right now I need to specify an extra class ‘popover-content' on the actual ‘popover-content’ element to create extra specificity and get the arrow css to be applied properly.

Perhaps it could work similarly to the popperApplyClass mod

[2018-03-29 17:26] IBYuMe commented on #2
@MrFrankel  thank you for all of your help!
I opened a new issue/ request to discuss the arrow class styling.

[2018-03-29 17:53] MrFrankel commented on #50
@IBYuMe released in v2.7.0, please verify.

[2018-03-29 17:59] MrFrankel commented on #48
@yanbai-kooboo sure!

P.S, start are welcome!

[2018-03-29 17:59] #48 closed

[2018-03-30 05:50] yanbai-kooboo commented on #49
@MrFrankel Thanks a lot!

[2018-04-10 21:34] alexandremoore commented on #38
@MrFrankel, shouldn't the ariaHidden be set to 'true' as default? Or to !popperShowOnStart?

[2018-04-10 21:41] alexandremoore commented on #38
Also, role="popper" is not a valid [ARIA role](https://www.w3.org/TR/html-aria/#allowed-aria-roles-states-and-properties). It should be "tooltip".

[2018-04-11 09:54] MrFrankel commented on #38
@alexandremoore ariaHidden is set to the current state of the popper, wether its show or no.

As for role="popper" as default, I will have to leave it for now as its a breaking change and I cant afford the hate.

You can override the default role prop in the global option to tooltip if it is needed

[2018-04-11 20:03] alexandremoore commented on #38
@MrFrankel, You can check here: https://stackblitz.com/edit/ngx-popper-issue38
ariaHidden is false when the page load(it should be true), if you hover the heading the tooltip appears and ariaHidden will still be set to false (as expected). When you mouse out, it will correctly set it to true (also as expected). So the initial state is incorrect, unless one use popperShowOnStart=true.

As for the r

[2018-04-12 15:02] ronak-raithatha opened #51 "Conditionally trigger poper"
Hey,

Thank you for building this wrapper, it's proven pretty useful for me so far. Recently though, I've had a need to conditionally show the pop up, i.e. when the contents on the page have loaded AND the side nav is open. I wondering what the best possible way to get achieve this is. I've messed around with `popperTrigger` but that only takes a couple different options, not a custom event.

Than

[2018-04-12 17:47] MrFrankel commented on #51
@ronak-raithatha happy to hear you are finding this useful.

you can also open the popper programmatically using @ViewChild

`@ViewChild('popperContent1')
   popperContent: PopperContent;

  onShow(){
   this.popperContent.show();
 }

onHide(){
this.popperContent.hide();
}
`

[2018-04-12 17:49] MrFrankel commented on #38
Yes, this is indeed a bug, Ill try and fix it ASAP.
Thanks!

[2018-04-12 17:58] alexandremoore commented on #38
Thanks @MrFrankel.
I also noticed that aria-describedby is added even if we don't specify any value. This violates the aria restriction that aria-{something} attributes must have valid values. https://dequeuniversity.com/rules/axe/2.1/aria-valid-attr-value

Let me know if you need separate bugs for these 2.

[2018-04-12 20:02] hspier opened #52 "Dynamically register event listeners"
Popper directive automatically registers for events using HostListener which always register all events no matter the trigger to open the Popper. The code then simply return in the event handler method when the event doesn't match the showTrigger.

As an enhancement, it should use the Renderer2 to listen only to the events that are defined as showTrigger. Automatically registering them has the eff

[2018-04-16 10:50] MrFrankel commented on #52
@hspier This is a very valid point, like most application, there was never the intent for so many Listeners when writing this tool started, So I opted for better readability over performance.

It is defiantly on my to do list however its a substantial change and I hope to get to it soon.

[2018-04-16 10:51] MrFrankel commented on #38
@alexandremoore indeed this is a bug.

Ill try fix it ASAP

[2018-04-17 14:34] fhurta opened #53 "Background color"
This is rather discussion topic.
Couldn't the background color be a property (e.g. `[popperBackground]`)?

I used your component and spent some time looking for a problem as the background of the tooltip was transparent. After some time I realized it is by default and started figuring out how to change it. As I cannot change the  encapsulation in my component, I ended up setting

	::ng-deep {
	 .n

[2018-04-18 13:09] hspier opened #54 "Cannot set property 'referenceObject' of undefined"
For the popper directive, when the 'content' property is undefined, the following error is thrown:

`
TypeError: Cannot set property 'referenceObject' of undefined
	    at PopperController.ngOnInit (webpack:///./node_modules/ngx-popper/ngx-popper.es5.js?:2490:35)
	    at checkAndUpdateDirectiveInline (webpack:///./node_modules/@angular/core/esm5/core.js?:12585:19)
`

This is because the code assum

[2018-04-20 12:30] MrFrankel commented on #54
@hspier I am not sure about this one, my main concern is this might hide bugs in the user's code, I'm also not keen in implicitly assuming undefined will eventually be a string.

What if a catch this error and throw a more explicit error? that way the user will set the initial value?

What do you think?

[2018-04-20 12:44] MrFrankel commented on #38
@alexandremoore Should be fixed in 2.7.1,

Let me know if its good now.

[2018-04-20 12:48] hspier commented on #54
I think that what is instantiating the popper content (or grabbing it) should be delayed in ngOnChanges for a change on "content". Doing it in ngOnInit is prone to this type of error due to inputs not necessarily in the state they should be.

Basically don't do anything in ngOnChanges until content is defined and when it is defined then do the instantiation logic. This would also support the case

[2018-04-23 13:40] MrFrankel commented on #54
@hspier I think there is something conceptually wrong with waiting for the data to be valid in the onChanges before initiating the component, I see all kinds of issues arising from this.
Also, it goes against the life cycle of Angular component, they define the ngOnInit as the point where all inputs are already set.

The two options that might be relevant for me would be.

1. Apply an empty string

[2018-04-23 13:49] hspier commented on #54
ngOnInit is where inputs are set, but only the first value for inputs. ngOnInit is never called more than once as opposed to ngOnChanges which can be called more than once. Also, it is not against the lifecycle of Angular to refresh the component when an ngOnChanges is triggered: it is the precise place to do it. From the doc:

In general, a component/directive can do one time initialization in ng

[2018-04-23 14:27] MrFrankel commented on #54
Currently the directive responds to changes in content on ngOnChanges, and the bootstrapping is done in the ngOnInit, so this seems aligned with the Angular way.

So I would think this is in sync with number 2.
In cases where content is undefined, we will defer the bootstrapping to the when content becomes defined.

[2018-04-25 14:54] alexandremoore commented on #38
@MrFrankel All good now. Thanks.

[2018-05-07 13:48] nileshbhagwat opened #56 "Incorrect Popper Placement Options?"
@MrFrankel

What is use of popperPlacement options that starts with 'auto-'?
'auto-top' | 'auto-bottom' | 'auto-left' | 'auto-right'

These are not valid options as per https://popper.js.org/popper-documentation.html

Also auto-start, auto-end, these options are missing from ngx-popper doc

[2018-05-14 08:12] MrFrankel commented on #56
@nileshbhagwat its just a documentation issue, all placements are passed directly to popper constructor.

I've fixed the docs now, can this be closed?

[2018-05-14 08:18] nileshbhagwat commented on #56
@MrFrankel Yes it was documentation issue, thanks for confirming the same.

Closing issue based on https://github.com/MrFrankel/ngx-popper/commit/1ab5c4255e7b68c0449ec3e35a2425245ffc803e

[2018-05-14 08:18] #56 closed

[2018-05-14 08:35] MrFrankel commented on #56
@nileshbhagwat thanks for bringing this up!

[2018-05-15 17:32] ktriek commented on #34
@MrFrankel in this [demo]( https://stackblitz.com/edit/angular-s2wdmv?file=src/app/app.component.html) you can see the popup is not correctly positioned.

![image](https://user-images.githubusercontent.com/4461059/40073253-56ff18b0-5844-11e8-9568-2fc87c521ec2.png)

Notice that if you scroll the page horizontally the popup gets fixed.
![image](https://user-images.githubusercontent.com/4461059/40073

[2018-05-15 17:49] MrFrankel commented on #34
@ktriek thanks for the demo, seems its related to using float.

Ill look into it, thanks

[2018-05-21 14:11] MrFrankel commented on #34
@ktriek sorry this is taken so long, iv'e been away on vacation.

It seems like an issue with popper.js itself, not sure why its miscalculating.
Ill try to investigate further but for now you can either use popperPositionFixed or set
[popperModifiers]="{boundariesElement : 'viewport'}"

[2018-05-23 11:07] mikila85 opened #57 "not working"
working with webpack+angular 5.

adding popper with yarn, importing it in app.modules.ts, adding it to imports.
added the html example tooltip,
just plain html, nothing works, no errors.

![image](https://user-images.githubusercontent.com/3965957/40420963-c538b8e6-5e92-11e8-90cb-9ee700be0c92.png)

any ideas?

[2018-05-23 11:40] mikila85 commented on #57
sorry my bad .. using ng-upgrade and it didnt work because i didnt downgrade.. and i cant downgrade beacuse its a directive, so i will use yours for ng2 and the old wrapper for ng1
thx.

[2018-05-23 11:40] #57 closed

[2018-05-24 04:02] clarencecastillo opened #58 "Slower performance when using multiple poppers (i.e. ngFor)"
Hey @MrFrankel, thank you so much for this wrapper!

My use case involves nesting a popper inside an infinite-scrolling component via *ngFor. To illustrate, I'm trying to use this library to implement something like a context-menu button for every item in the list.

From what I noticed, performance significantly gets degraded as more items are loaded. Takes a longer time for my popper to show/hide

[2018-05-24 18:52] MrFrankel commented on #58
@clarencecastillo first, popper are angular components, as such they require resources and having many on the page will effect performance.
I am working on some improvements to the event handling mechanism which will improve the performance, but it would still be better practice if you are using infinite scroll to destroy element's that are not in view.

This can be achieved by simply wrapping eac

[2018-05-24 18:53] MrFrankel commented on #53
@tonysamperi @fhurta I am considering adding an input like popperStyles which will be an object you can pass css properties to.
`[popperStyles]="{backgroundColor: 'black'"}`.

Would that fit your needs?

[2018-05-24 20:34] MrFrankel commented on #58
@clarencecastillo Ive release a prerelease version 2.8.0-next, it has some performance improvements.

cant you see if it works better?

[2018-05-24 20:36] MrFrankel commented on #52
@hspier ive created a branch called dynamic-events-handlers with an implementation of this, its also releases in a pre release 2.8.0-next.

Id like to hear your thoughts before I release it.

[2018-05-25 07:48] tonysamperi commented on #53
@MrFrankel Indeed.
Cool solution. It should cover everything.
Although, wouldn't be better to have some "forRoot" method to set default style for every popover?
The popperStyles may be usefull nonetheless to override defaults.

Anyway I could do for you the "popperStyles" part and prepare a pull-request if you need a hand.

All the best and thank you

[2018-05-25 07:51] MrFrankel commented on #53
@tonysamperi well, the best use case is to use classes, but Angular encapsulation makes that a but complicated at times.

the popperStyles would also be a forRoot property which you could apply for all and then override it if needed.

Thanks for the offer on the PR but iv'e already implemented it.
Ill release it soon after a few tests.

[2018-05-25 08:04] MrFrankel commented on #53
@tonysamperi try 2.8.0 let me know how it works.

note this popperStyles is aligned with ngStyles so you should use it as such:
`[popperStyles]="{'background-color: 'blue''}"`

[2018-05-25 08:08] tonysamperi commented on #53
about to try in a sec.

Thanx

[2018-05-25 08:11] tonysamperi commented on #53
Works, but the arrow remains grey :)

[2018-05-25 08:12] MrFrankel commented on #53
@tonysamperi alas!.
missed that, Ill get that too.

Thanks!

[2018-05-25 08:14] tonysamperi commented on #53
Yeah absolutely. I haven't had my coffee yet.
Actually for defaults some rules in styles.css (or in my case scss) do the job!

ahahah don't worry

[2018-05-25 08:33] MrFrankel commented on #53
@tonysamperi so the arrow background is a bit more complicated as it is a triangle and its background is derived through its border-color.

I have to go out for a few hours, ill get a solution later today.

[2018-05-25 08:42] MrFrankel commented on #53
never mind, got it.

Try 2.8.1

[2018-05-25 08:54] tonysamperi commented on #53
@MrFrankel
perfect. It works.

[2018-05-25 08:57] tonysamperi commented on #53
Actually if you use "backgroundColor" instead of "background-color" the arrow remains grey.
I know. I'm a pain in the ass. :D

[2018-05-25 08:59] MrFrankel commented on #53
does backgroundColor work with the popper-content itself?

[2018-05-25 08:59] tonysamperi commented on #53
yep. The popper is red and no errors in console.

[2018-05-25 09:00] MrFrankel commented on #53
ok, thats an easy fix. ill get that up later today.

Thanks for all the help!

[2018-05-25 09:01] tonysamperi commented on #53
Yeah, I saw this is the line...

`this.popperOptions.styles && this.popperOptions.styles.hasOwnProperty('background-color') `

thanks again for your work.

All the best

Tony

[2018-05-25 14:58] ktriek commented on #34
@MrFrankel thanks, this workaround(adding `popperPositionFixed `or set` [popperModifiers]="{boundariesElement : 'viewport'}"`) fixed my problem.

[2018-05-26 06:37] MrFrankel commented on #53
@tonysamperi release 2.8.2, supporting backgroundColor too.

[2018-05-28 06:56] #34 closed

[2018-05-28 07:47] tonysamperi commented on #53
@MrFrankel Testing... :)

[2018-05-28 07:58] tonysamperi commented on #53
@MrFrankel Alright. Everything seems ok!
https://stackblitz.com/edit/mat-card-multiple-sections

Great job!

[2018-05-28 17:15] #53 closed

[2018-05-29 03:43] clarencecastillo commented on #58
@MrFrankel Thanks for the follow up! The pre-release version 2.8.0-next significantly reduced the time to show/hide the popper from 10s to just 2s @ 100+ popper components loaded.

In case somebody else encounters the same problem, I've followed the suggestion to destroy element's that are not in view by moving my popper-content component outside my *ngFor and wrapped my popper reference element w

[2018-05-29 03:43] #58 closed

[2018-05-29 07:15] MrFrankel commented on #52
released in 3.0.0

[2018-05-29 07:15] #52 closed

[2018-05-29 07:15] MrFrankel commented on #51
closed due to lack of response

[2018-05-29 07:15] #51 closed

[2018-05-29 07:15] MrFrankel commented on #42
closed due to lack of response

[2018-05-29 07:15] #42 closed

[2018-06-06 07:30] clarencecastillo opened #59 "Need to overlap reference element"
Hey again @MrFrankel, thanks again for this component!

Just wanna ask if there's a way to specify the offset relative to the reference element? I've tried setting the offset modifier but I think it's not meant to be used that way (see snippet below). I'm trying to use this component to implement a nest-able context menu and to achieve that, I'd need to overlap the parent popper with the child pop

[2018-06-06 10:09] MrFrankel commented on #59
@clarencecastillo Happy to hear this serves you well.

To overlap the reference element you can simply set the offset and disable the flip functionality.
`[popperModifiers]="{offset: {offset: '0,-10px'}, flip: {enabled: false}}"`

Let me know if this helps

[2018-06-06 13:02] clarencecastillo commented on #59
Is there a way to do it while keeping the flip modifier enabled? Due to some other UX consideration, I am unable to statically fix my Popper's position. It could potentially go out of the viewport so I would still need the flip modifier to keep it in view.

[2018-06-06 15:18] clarencecastillo commented on #59
<img width="424" alt="screen shot 2018-06-06 at 11 15 39 pm" src="https://user-images.githubusercontent.com/5035728/41047716-c26b9ca2-69df-11e8-8d2b-fa40e23f5bae.png">

Setting the offset to `0,-10px` and disabling flipping does the trick but opening one by the edge of the viewport results in the popper covering the parent popper.

<img width="386" alt="screen shot 2018-06-06 at 11 03 51 pm" src="

[2018-06-07 02:39] clarencecastillo commented on #59
After taking a look at popper.js's documentation, it seems that there's no way to get this to work without dynamically setting the offset value using the `fn` modifier property. Instead of taking that route, I decided to set the modifier to `[popperModifiers]="{offset: {offset: '0,-10px'}, flip: {enabled: false}}"` as suggested, and manually flip the popper according to the reference element's pos

[2018-06-07 02:39] #59 closed

[2018-06-07 11:35] wlievens opened #60 "Popup sometimes closes when clicking inside"
The popup sometimes closes when clicking inside, but only in Chrome. Tis occurs when `isMouseOver` is set to `false` by a spurious `mouseleave` event. Apparently Chrome has an issue where it triggers `mouseleave` events if you have clicks in quick succession.

More info: https://stackoverflow.com/questions/45266854/mouseleave-triggered-by-click

Are there any workarounds available for ngx-popper?

[2018-06-07 12:35] wlievens commented on #60
More evidence of this bug
https://stackoverflow.com/questions/47649442/click-event-affects-mouseenter-and-mouseleave-on-chrome-is-it-a-bug

[2018-06-07 12:50] wlievens commented on #60
There appears to be a proper defect report with Chromium - https://bugs.chromium.org/p/chromium/issues/detail?id=798535

[2018-06-07 14:27] MrFrankel commented on #60
Thanks for bringing this up, and all the research. I’m away for a couple of days but I’ll look into it as soon as I get back. Have you tried setting popperHideOnMouseLeave to false?

[2018-06-07 14:29] wlievens commented on #60
Hi, thanks for replying so quickly. I have tried `popperHideOnMouseLeave` but it has no effect on the issue. I read through the Chromium bug report, it seems to be pretty challenging to reproduce for them, which is weird because for me it happens for about 20% of all clicks. I haven't made a minimal reproducable example yet.

[2018-06-07 14:53] MrFrankel commented on #60
You can also control the popper programmatically by calling the show hide methods yourself and manage the logic that way, at least for now anyway

[2018-06-10 09:24] fedotxxl opened #61 "\n shuold be displayed as new line"
When I use the label "a \n b" I expect two lines instead of one

[2018-06-10 09:26] fedotxxl opened #62 "Add an abbility to display html instead of text"
I can use #tooltipcontent to do it but I need really simple html (like `hello <strong>world</strong>`) and current solution makes things too complicated

[2018-06-10 09:35] MrFrankel commented on #62
@fedotxxl My main intention was to use popper-content for HTML, but I guess there would be cases where that adds some overhead.

Let me check all ramification of this as it might be a breaking change.

[2018-06-10 09:36] MrFrankel commented on #61
closing as is related to #62

[2018-06-10 09:36] #61 closed

[2018-06-14 10:38] Tucaen opened #63 "Import from 'ngx-popper' not working"
After updating from version 2.7.1 to 3.0.1 the import (import {NgxPopperModule} from 'ngx-popper';) is no longer working.
Error Message: Module '".../node_modules/ngx-popper/ngx-popper"' has no exported member 'NgxPopperModule'.

Is there something else to change, that I missed?

[2018-06-14 10:45] Tucaen commented on #63
Well it seems something went wrong on during the install. After deleting the complete node_modules folder and reinstalling, it's working again.
Sorry!

[2018-06-14 10:45] #63 closed

[2018-06-14 10:48] MrFrankel commented on #63
@Tucaen no problem! hope it serves you well :)

[2018-06-14 11:21] MrFrankel commented on #62
@fedotxxl Ive released an npm version 4.0.0-next, it should except now html.
Can you verify this and ill release it.

[2018-06-15 06:46] Tucaen opened #64 "GlobalEventListeners aren't cleared"
Looks like there's a typo, in the clearGlobalEventListeners function, to me:
[code]

[2018-06-21 18:13] karlos1337 opened #65 "Error building for production"
The library works great building normally but can't build with angular-cli prod flag:
[code]

[2018-06-22 07:36] MrFrankel commented on #65
@karlos1337 can share your package.json?

[2018-06-22 07:42] karlos1337 commented on #65
Sure:
[code]

[2018-06-22 09:19] MrFrankel commented on #65
Can you please try 4.0.1-next? let me know if it works

[2018-06-22 10:37] karlos1337 commented on #65
Works as charm, thx :)

[2018-06-22 10:37] #65 closed

[2018-06-22 11:16] MrFrankel commented on #64
@Tucaen should be fixed in 4.0.1

[2018-06-22 11:16] #62 closed

[2018-06-22 11:33] Tucaen commented on #64
No problem :)
It has the effect, that the array get's larger and larger every time the popover is oppend.

[2018-06-22 11:46] MrFrankel commented on #64
True, well, should be fixed now anyway, good catch!

[2018-06-23 07:34] fedotxxl commented on #62
Checked 4.0.1 - it works

[2018-06-25 13:21] Tucaen commented on #64
I'm currently struggeling a bit to install version 4.0.1
![image](https://user-images.githubusercontent.com/12460448/41852347-1704d3be-788b-11e8-9786-07da432c1db0.png)

Already tried deleting the whole node_modules folder and install from scratch twice this time.

I guess I'll finde the problem a few minutes after posting this :smirk:

[2018-06-25 13:30] MrFrankel commented on #64
popper.js is now a peer dependency, try installing popper.js too

[2018-06-25 14:15] Tucaen commented on #64
Works fine 👍
Next time I will do both, deleting node_modules and read the changes 😇

[2018-06-26 07:52] #64 closed

[2018-07-02 07:33] Tucaen opened #66 "Tabs + popperBoundaries = wrong placement"
I encountered a problem with the popper placement, when using popperBoundaries property in combination with tabs (I'm using ngx-bootstrap tabs).

On the first tab placement is fine, but on every other tab the popper is placed of the top of the screen.
[code]

[2018-07-02 13:14] MrFrankel commented on #66
@Tucaen Can you provide a way to reproduce? stackblitz sound like a good fit for thi.

[2018-07-09 23:46] jamra opened #67 "Placement not consistent"
Thanks for the component. It's really nice to work with.

I'm trying to get the actual popover placement when I pass in 'auto' so I'm running

[code]

It's working most of the time, but there is a very wide popover on a very wide reference element and it keeps stating 'bottom' instead of 'right'. I'm doing a lot of sizing calculations, adding in scroll bars and max widths.

I was wondering if ther

[2018-07-10 10:36] Tucaen commented on #66
Sorry, for the late response. I'll do, when I find the time. Never created a stackblitz 😇

[2018-07-11 20:14] alekplay opened #68 "Popper not showing on disabled button"
Not sure if this is a bug or not, but I'm not able to get the popper to appear when hovering over a `disabed` button. Removing the `disabled` attribute makes the popper appear as expected.

If this is intended behavior, what is the recommended solution for when you'd like to disable a submit button when a form is invalid, but show a tooltip to inform the user why it's invalid?

[2018-07-11 20:30] MrFrankel commented on #68
@alekplay a disabled button does not fire mouse events therefore it cannot show on hover.
I would suggest adding a class called disabled and applying styles on it.

Or you could wrap the button in another element and have the popper on it.

[2018-07-11 20:32] MrFrankel commented on #67
@jamra I can look into suppling a hook for the onUpdate, but im not sure what the issue it.

The popper states position 'bottom' in the x-placment attribute event though it's actual position is not?

[2018-07-11 20:39] alekplay commented on #68
Great, thank you for the explanation!

[2018-07-11 20:39] #68 closed

[2018-07-12 02:36] jamra commented on #67
That is correct and it happens infrequently but on some elements consistently.

I wanted to try and hook into onUpdate for my calc height function because my calc height function depends on knowing the correct x-position.

So just to clarify when I inspect element, the x-position is correct but inside the onShown event, it is set to bottom when it’s really right.

[2018-07-16 17:07] jamra commented on #67
Maybe I can solve this with a custom modifier. I'll try that out first. Please hold on this. I don't want you to do work for no reason.

[2018-07-16 17:50] MrFrankel commented on #67
Sorry I hadn’t had time to look into this, I think this issue should be addressed anyway. I’ll try get a version out tomorrow

[2018-07-16 18:40] MrFrankel commented on #67
@jamra OK, it was easier then I thought.
As of v 4.1.0 you can now add a popperOnUpdate output to the directive and get the popper data.instance as an argument.
There you should have the popperPlacement which should map to the actual placement

[2018-07-16 22:16] jamra commented on #67
Thank you!
I ended up using the computeStyle modifier and it worked. I should just use an unused modifier that is before computeStyle. I couldn't find documentation on how to make custom modifiers. The link on popperjs's documentation goes to a 404.

Just got it working. I'll check out your way a bit later, but I'm loving this library!

[2018-07-16 22:16] #67 closed

[2018-07-25 20:55] RwbyChan opened #69 "popperHideOnScroll with hidden button"
I have a button that appears on hover of a specific element that has the popper inside of it, the button will open the popper. I also have popperHideOnScroll set to false.

When I click on the button, the popper opens, when I scroll with keeping my mouse on the div that has the button to open the popper, it works,  but when I scroll when not having my mouse on that div (so the button that opens th

[2018-07-26 07:36] MrFrankel commented on #69
@RwbyChan Im not sure I understand the use case, could you create a demo in stackblitz or somewhere?

[2018-07-30 16:33] Necroskillz opened #70 "When using click trigger on touch devices, the popup is hidden immediately after it's shown"
See repro here: https://ngx-popper-touch-issue.stackblitz.io/ (run on a mobile device or chrome emulator).

The popper is shown, but hidden immediately when using click trigger (there are some spots where it stays open when you click on them, but most of the time it closes right away. And even if it stays open, the same issue will prevent it from closing).

This issue didn't happen in 2.8.1 and ea

[2018-07-30 16:48] MrFrankel commented on #70
@Necroskillz hey, checking...

[2018-07-30 17:53] MrFrankel commented on #70
Indeed it seems it’s a bug, I’ll push a fixed version by tomorrow I hope, I’ll thanks for bringing it up

[2018-07-31 07:31] MrFrankel commented on #70
@Necroskillz Ive released version 4.2.0, can you verify this fixes the issue?

[2018-07-31 09:41] Necroskillz commented on #70
Yeah, I made pretty much same fix and put it to our local npm server, so it should be fine. Thx for the quick fix.

[2018-07-31 10:41] MrFrankel commented on #70
Thanks for helping wth this!

[2018-07-31 10:41] #70 closed

[2018-08-08 16:31] jandresampaio opened #71 "Using Angular 6, popper not known attribute of div"
I'm using Angular 6, followed the guide, but I keep getting the error

`Error: Template parse errors:
Can't bind to 'popper' since it isn't a known property of 'div'. ("<div class="row">
    <div [ERROR ->][popper]="popper1Content"
         [popperShowOnStart]="true"
         [popperTrigger]="'click'"
"): ng:///CommonModule/ListsCardComponent.html@1:9`

Tried .forRoot() inside root module but stil

[2018-08-09 13:26] #71 closed

[2018-08-09 13:42] jandresampaio commented on #10
@lincolnthree, I've ran into this same problem, but can't seem to understand your solution...
We have different tooltip templates so would the component find out about the template if the template if not the component html?

Thank you.

[2018-08-09 14:32] MrFrankel commented on #10
@jandresampaio not sure what your issue is but since this issue was open we now have `[popperPositionFixed]="true"`

settings this will cause the popper to be above other elements.

[2018-08-09 15:07] jandresampaio commented on #10
@MrFrankel issue is tooltip getting behind other elements...
Still, using this setting, some parts of the tooltip still get hidden below other elements. Only appying a big z-index on the popper tooltip style tooltip is above all other elements.
Using the following:
`        NgxPopperModule.forRoot({
            placement: 'auto',
            trigger: 'hover',
            positionFixed: true,

[2018-08-09 15:10] MrFrankel commented on #10
does one of the popper parent's have a transform property set to it? if so that will change the view stack for the 'fixed' element.

Also, make sure that __ngx__container  has z-index set to it.

If that dosn't help I have a task to add a new property called popperPinToBody which will place the popper on the body and thus be above all other nested elements.

Should be able to push it in the next c

[2018-08-09 15:17] jandresampaio commented on #10
That's a very nice feature, thank you....
Will that just use one popper DOM element that renders the different tooltips configured inside each component ? Because now, when using *ngFor, a new element is added to the dom which causes some performance issues.

[2018-08-09 17:53] MrFrankel commented on #10
Well, since there may be few poppers open at the same time.
The idea is to remove the poppers when they are hidden and show them when they are shown.

[2018-08-09 20:47] MrFrankel commented on #10
@jandresampaio try version 5.0.0-beta4, with :
`[popperAppendToBody]="true"`

[2018-08-09 22:49] jandresampaio commented on #10
Thank you @MrFrankel
Can I set this as global setting, in bootstrap module ? Tried but the setting doesn't seem to exist yet. This would be good to have for testing all system areas.

[2018-08-10 08:08] MrFrankel commented on #10
global listeners are not prefixes with popper,

try with appendToBody

[2018-08-10 10:07] jandresampaio commented on #10
Yeah...code editor was giving me an error on that but finally after restarting appendToBody was no longer an issue.

It seems that this settings causes performance issues when we have a lot of poppers around. I'll try to investigate this in more detail.

[2018-08-13 08:26] MrFrankel opened #72 "popper appendToBody and remove node ref when hidden"

[2018-08-13 08:27] MrFrankel commented on #10
@jandresampaio lets move this discussion to #72

[2018-08-13 08:28] MrFrankel commented on #72
I have released vs ngx-popper@5.0.0-beta5, it remove it popper-content innerHTML when hidden.

See if that improves performance.

Though I have used it with ngFor with hundreds of elements with no effect on performance

[2018-08-14 11:39] jandresampaio commented on #72
Thanks for the update.

I've been working with this...
Because now you're destroying the poppers when components are destroyed, or when navigating to other route, the following code might break navigation if popperContent is null.

`   PopperController.prototype.ngOnDestroy = /**
     * @return {?}
     */
    function () {
        this.subscriptions.forEach(function (sub) { return sub.unsubscribe

[2018-08-15 19:06] MrFrankel commented on #72
@jandresampaio thanks, im looking into the best way to remove the content of an element when it is hidden, ill dig deeper into Angular code see whats the best way to go about it/

[2018-08-26 20:49] Dosant opened #73 "Clickoutside doesn't work on touch devices"
Hi,
I am using 4.2.0 version.

For a popper trigger I am using 'click'.
Clickoutside behaviour works as expected on desktop, but for mobile, touching outside of the popover doesn't trigger the popup close.

[2018-08-27 10:36] MrFrankel commented on #73
@Dosant This works on fine on Iphone, what device can you see this not working?

[2018-08-27 18:45] Dosant commented on #73
@MrFrankel, Also iPhone. I will try to reproduce in sandbox.

[2018-08-28 16:50] Dosant commented on #73
@MrFrankel, please try: https://angular-e4bhjr.stackblitz.io

For me the popover doesn't close itself when I touch outside.
I am using an iPhone.

[2018-08-30 07:09] MrFrankel commented on #73
@Dosant Thanks for the repro but I can t get it to work, I dont see any popup at all

[2018-09-01 11:47] Dosant commented on #73
HI @MrFrankel,

So I digged a bit deeper into the issue.
It looks like it is indeed doesn't properly work on iPhone.

I found out, that when touch is happening on non "clickable" element, iOS doesn't generates click event.[https://www.quirksmode.org/blog/archives/2010/09/click_event_del.html].

So this handler in such case, won't be fired:
`this.renderer.listen('document', 'click', this.hideOnClic

[2018-09-02 07:59] MrFrankel commented on #73
Hey @Dosant,
Thanks for researching this, sorry I havent had time to look into it, summer holidays etc...
I figured it was just adding a touchstart event listener, just need to see how it act's on other platforms.

I should have it fixed in the next couple of days.

[2018-09-04 11:03] MrFrankel commented on #73
@Dosant  Sorry it toke so long, should be fixed in version 5.1.6, please confirm.

[2018-09-04 20:27] Dosant commented on #73
@MrFrankel, great, works! Thanks.

[2018-09-04 20:27] #73 closed

[2018-09-05 13:38] analnovputkata opened #74 "popperAppendTo is present in the documentation but not in the component"
popperAppendTo is described in the documentation but is not inside the interface PopperContentOptions. Please either remove it from documentation or implement it in code

[2018-09-13 08:42] MrFrankel commented on #74
@analnovputkata appendTo was implemented in the latest version 5.1.6

[2018-09-14 08:39] tonysamperi opened #75 "Text is not wrapped when setting max-width globally"
Text overflows the popper when max-width is set globally in styles.scss

<a href="https://ibb.co/hk19h9"><img src="https://preview.ibb.co/htj6Up/popper.png" alt="popper" border="0"></a>

https://ngx-popper-demo.stackblitz.io

[2018-09-14 08:52] tonysamperi commented on #75
I figured it out.
The fucking @material mat-radio-label has a fucking rule "white-space: no-wrap".
I don't now why, but this is the second time this bugs me.

**to solve** add in your `styles.scss` or `styles.css`

` .mat-radio-label {white-space: normal; }`

Hope this will help.

[2018-09-14 08:52] #75 closed

[2018-09-14 09:57] tonysamperi opened #76 "Popper won't hide"
When setting this way
[code]

After calling `popper.show()`, popper won't disappear when clicking outside,
even specifying `popperHideOnClickOutside`

[2018-09-15 18:04] tonysamperi commented on #76
I created a workaround after posting this issue, but I hadn't the time to share..

**component.ts**

[code]

[2018-09-15 18:49] MrFrankel commented on #76
@tonysamperi Hey, the reason the popperHideOnClickOutside dosnt take effect when calling popperContent.show(), is because it is a property of the popper directive.
I'll look into moving this to be managed by the PopperContent.

For now the workaround will work fine, just make sure you clear the listener on ngOnDestroy.

[2018-09-16 15:33] tonysamperi commented on #76
Alright! Thanks for the answer!
Yes, I remembered to turn off the listener on ngDestroy.

All the best

Tony

[2018-09-21 17:19] blakekl opened #77 "hideOnClickOutside doesn't work if popperTrigger is 'none'"
Reproduction of this issue [here.](https://stackblitz.com/edit/angular-rhd2hm)

Not sure if this is a problem with ngx-popper or just PopperJS, but I would still expect the hideOnClickOutside to work.

[2018-09-25 07:48] MrFrankel commented on #77
@blakekl When opening the popper programmatically as you are doing its your responsibility to manage opening and closing it.
I am closing this as it is a duplicate of #76.

[2018-09-25 07:48] #77 closed

[2018-09-25 18:46] StephenAArredondo opened #78 "Transparency issue"
I'm trying to implement a popper with a popper-content, but every attempt has resulted in the background being transparent. Not sure what's going on.

Here's the stackblitz reproducing this issue:
https://stackblitz.com/edit/angular-1t6dwb

[2018-09-25 19:02] MrFrankel commented on #78
@StephenAArredondo add

`popper-content .ngxp__container{
  background: green;
}`

to your styles.css

[2018-09-25 19:27] StephenAArredondo commented on #78
It worked in the stackblitz, but not working in my application. I don't have any other styling on it other than the above,

![sameproblem](https://user-images.githubusercontent.com/8017722/46037837-66343800-c0d7-11e8-9ee2-5c58e32b8155.png)

[2018-09-25 19:45] MrFrankel commented on #78
If you are using Angular css encapsulation(which is enabled by default) then it will not apply to internal component's such as popper-content.

you can set a global css file, which is the common practice and add it to your index.html

[2018-09-25 19:47] #74 closed

[2018-09-25 19:47] #69 closed

[2018-09-25 19:47] #66 closed

[2018-09-28 10:11] ChristofFritz opened #79 "Popper needs to break out of overlay hidden"
Hi,

i have a problem where I need some help. The element that needs a popover is inside a scrollable div that has "overflow-x: hidden; overflow-y: scroll;".
The popver currently is being cut off because it overflows this container, but it needs to overflow it.
Can the popver somehow be placed in the parent component? Or is there an other way to deal with this problem?

Here is a Picture of the pr

[2018-09-28 11:42] ChristofFritz commented on #79
Ok, i found a solution:
`[popperModifiers]="{preventOverflow: {boundariesElement: 'viewport'}}" [popperAppendTo]="'body'"`

[2018-09-28 11:42] #79 closed

[2018-09-28 12:29] ForstKat opened #80 "Destroy popper-conent when parent get's destroyed"
Hey,
I implemented your ngx-popper and created a wrapper component around it for the standard handling of the popper. For performance reasons, I implemented a popperDelay of 250. The problem is that the popper gets also used for add or delete icons. Clicking on it, the parent component gets destroyed but because of the delay the popper trys to render after the 250 ms even when the parent is not th

[2018-09-28 20:29] MrFrankel commented on #79
@ChristofFritz,
You can also use [popperPositionFixed]="true"
This should work in most cases

[2018-09-28 20:30] MrFrankel commented on #80
@ForstKat The error should have no effect on the usage.
But ill make sure to fix it ASAP.
Thanks from brining this up.

[2018-10-01 15:16] tonysamperi commented on #78
@StephenAArredondo you have your rule in your app.component so it wont apply.
You have 3 solutions:

1.  use the outer styles.css
2.  add `encapsulation: ViewEncapsulation.None` to your app component
3. use the `[popperStyles]` attribute and set styles for each component (you can use a service to avoid duplicate code)

[2018-10-03 13:47] ForstKat commented on #80
Hey @MrFrankel, yeah it is still working but would be good to have no errors there. Did you already investigate it?

[2018-10-04 06:53] MrFrankel commented on #80
@ForstKat Should be fixed in 5.1.7, please verify.

[2018-10-04 07:42] ForstKat commented on #80
working like a charm. Just did a small test but no more console errors. Thank you sooo much

[2018-10-04 07:42] #80 closed

[2018-10-04 16:03] tonysamperi opened #81 "popperTarget not working?"
I need to dynamically append a popper,
and I need it to be shown over an element marked with a directive.

I succesfully delegated a click event to my title "MY ANCHOR",

but the popper is shown in the upper corner of the page

demo here ==> https://ngx-popper-demo.stackblitz.io/

[2018-10-04 16:18] tonysamperi commented on #81
Actually I figured it out. The fact is that the docs are misguiding.
There is:

`<div class="example">
     <div #popperTargetElement></div>
     <div [popper]="'As text'"
          [popperTrigger]="'hover'"
          [popperPlacement]="'bottom'"
          [popperTarget]="popperTargetElement"
          (popperOnShown)="onShown($event)">
     </div>
`

But it should be

`<div class="example">

[2018-10-07 15:40] Dosant commented on #76
Also faced this issue, have a repo to reproduce: https://stackblitz.com/edit/ngx-popper-close-bug

[2018-10-07 15:58] Dosant opened #82 "Popover won't close when clicking the trigger on touch devices"
Hi,
I am using latest 5.1.7 version and iPhone.

On touch devices popover won't close when clicking the trigger. (I guess there is some conflict with handling touch/click events)

Here is the repo to reproduce:
https://stackblitz.com/edit/ngx-popper-touch-bug

On touch device after opening the popover by clicking the button, clicking this button again won't close the popover.

[2018-10-08 10:42] MrFrankel commented on #82
@Dosant checking...

[2018-10-08 11:01] MrFrankel commented on #82
After investigating it seems this only happens on Safari ios.
It seems that clicking on the buttons also triggers the closeOnClickOutside so the popper gets reopened after closing.

Ill have to think about the solution a bit in order not to break anything.

For now you can avoid this behaviour by using the popperHideOnClickOutside="false"

[2018-10-23 16:17] inquiztr opened #84 "including ngx-popper in an angular 4 project with AOT"
I am having a problem using ngx-popper in our angular 4 project. Everything works fine when we build our project in dev/JIT but when we compile with AOT we get an error in webpack :

Error: Metadata version mismatch for module c:/Source/TSC.WebFactory/TSC.WebFactory.Web2/node_modules/ngx-popper/ngx-popper.d.ts, found version 4, expected 3

is there any way to get around this? for now we avoid the

[2018-10-23 18:02] MrFrankel commented on #84
@inquiztr  I'll look into this but I cant gurentee that the latest version of ngx-popper will work with an outdated version and Angular.

[2018-11-04 10:37] greenkeeper[bot] opened #86 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-11-04 10:40] greenkeeper[bot] opened #87 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI status on th

[2018-11-04 10:40] MrFrankel commented on #87
dup

[2018-11-04 10:40] #87 closed

[2018-11-04 12:28] greenkeeper[bot] opened #89 "Invalid Greenkeeper configuration file"
We have detected a problem with your Greenkeeper config file  🚨

Greenkeeper currently can’t work with your `greenkeeper.json` config file because it is invalid. We found the following issue:

1. The package path `ng-package.json` in the group `default` is invalid. It must be a relative path to a `package.json` file. The path may not start with a slash, and it must end in `package.json`. Allowed c

[2018-11-04 15:49] greenkeeper[bot] opened #90 "An in-range update of jest-puppeteer is breaking the build 🚨"
## The devDependency [jest-puppeteer]() was updated from `3.4.0` to `3.5.0`.

🚨 [View failing branch](https://github.com/MrFrankel/ngx-popper/compare/master...MrFrankel:greenkeeper%2Fjest-puppeteer-3.5.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

jest-puppeteer is a devDependency of this project. It **might not brea

[2018-11-05 09:57] greenkeeper[bot] opened #91 "An in-range update of webpack is breaking the build 🚨"
## The devDependency [webpack](https://github.com/webpack/webpack) was updated from `4.24.0` to `4.25.0`.

🚨 [View failing branch](https://github.com/MrFrankel/ngx-popper/compare/master...MrFrankel:greenkeeper%2Fwebpack-4.25.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack is a devDependency of this project. It

[2018-11-06 15:27] greenkeeper[bot] opened #92 "An in-range update of start-server-and-test is breaking the build 🚨"
## The devDependency [start-server-and-test](https://github.com/bahmutov/start-server-and-test) was updated from `1.7.7` to `1.7.8`.

🚨 [View failing branch](https://github.com/MrFrankel/ngx-popper/compare/master...MrFrankel:greenkeeper%2Fstart-server-and-test-1.7.8).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

start-s

[2018-11-07 17:10] greenkeeper[bot] opened #93 "An in-range update of yarn is breaking the build 🚨"
## The devDependency [yarn](https://github.com/yarnpkg/yarn) was updated from `1.12.1` to `1.12.3`.

🚨 [View failing branch](https://github.com/MrFrankel/ngx-popper/compare/master...MrFrankel:greenkeeper%2Fyarn-1.12.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

yarn is a devDependency of this project. It **might not

[2018-11-07 17:46] greenkeeper[bot] opened #94 "An in-range update of @types/node is breaking the build 🚨"
## The devDependency [@types/node](https://github.com/DefinitelyTyped/DefinitelyTyped) was updated from `10.12.2` to `10.12.3`.

🚨 [View failing branch](https://github.com/MrFrankel/ngx-popper/compare/master...MrFrankel:greenkeeper%2F%40types%2Fnode-10.12.3).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@types/node is a

[2018-11-08 22:46] greenkeeper[bot] opened #95 "An in-range update of @ngtools/webpack is breaking the build 🚨"
## The devDependency [@ngtools/webpack](https://github.com/angular/angular-cli) was updated from `7.0.4` to `7.0.5`.

🚨 [View failing branch](https://github.com/MrFrankel/ngx-popper/compare/master...MrFrankel:greenkeeper%2F%40ngtools%2Fwebpack-7.0.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@ngtools/webpack is a de

[2018-11-23 13:04] joelonilsson opened #96 "hideOnClickOutside not working together with dialog"
### Current behavior:
When opening a dialog (MatDialog in my case) from the popper, any click will close the popper. No matter if it's inside the dialog or it's backdrop.
This is when having set hideOnClickOutside to true.

### Expected behavior:
The popper should not be hidden when clicking on a dialog opened from the popper, or when clicking the backdrop of the dialog.

### Possible solution:
Th

[2018-11-26 19:26] greenkeeper[bot] opened #97 "An in-range update of @angular/cli is breaking the build 🚨"
## The devDependency [@angular/cli](https://github.com/angular/angular-cli) was updated from `7.0.6` to `7.0.7`.

🚨 [View failing branch](https://github.com/MrFrankel/ngx-popper/compare/master...MrFrankel:greenkeeper%2F%40angular%2Fcli-7.0.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

@angular/cli is a devDependency

[2018-11-29 16:33] jandresampaio commented on #72
Hi,

The appendToBody was present 5.0.0-beta5 but not in later versions. Is this expected ? How can I use the appendToBody in newer versions, since this console errors still keep appearing quite often.

Thank you.

[2018-11-30 06:33] greenkeeper[bot] opened #98 "An in-range update of puppeteer is breaking the build 🚨"
## The devDependency [puppeteer](https://github.com/GoogleChrome/puppeteer) was updated from `1.10.0` to `1.11.0`.

🚨 [View failing branch](https://github.com/MrFrankel/ngx-popper/compare/master...MrFrankel:greenkeeper%2Fpuppeteer-1.11.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

puppeteer is a devDependency of this

[2018-12-01 20:04] greenkeeper[bot] opened #99 "An in-range update of ng-packagr is breaking the build 🚨"
## The devDependency [ng-packagr](https://github.com/ng-packagr/ng-packagr) was updated from `4.4.0` to `4.4.5`.

🚨 [View failing branch](https://github.com/MrFrankel/ngx-popper/compare/master...MrFrankel:greenkeeper%2Fng-packagr-4.4.5).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

ng-packagr is a devDependency of this

[2018-12-11 13:06] jandresampaio commented on #72
Hi @MrFrankel ,

Any news on this ?

Thank you.

[2018-12-11 13:20] MrFrankel commented on #72
@jandresampaio sorry, I missed this.
Ill look into it, though we use the latest version of this in the product that the company I work for in production and we dont see any instances if the error, are you sure you tried the latest?

[2018-12-11 13:39] jandresampaio commented on #72
But appendToBody setting is not supported on latest version, only appendTo. Is appendTo the setting to use with 'body" as parameter ?

[2018-12-11 15:15] MrFrankel commented on #72
Yes! or any other element selector you want to use

[2018-12-21 18:47] greenkeeper[bot] opened #102 "An in-range update of webpack-dev-server is breaking the build 🚨"
## The devDependency [webpack-dev-server](https://github.com/webpack/webpack-dev-server) was updated from `3.1.10` to `3.1.11`.

🚨 [View failing branch](https://github.com/MrFrankel/ngx-popper/compare/master...MrFrankel:greenkeeper%2Fwebpack-dev-server-3.1.11).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

webpack-dev-se

[2019-01-06 00:30] greenkeeper[bot] opened #103 "An in-range update of chalk is breaking the build 🚨"
## The devDependency [chalk](https://github.com/chalk/chalk) was updated from `2.4.1` to `2.4.2`.

🚨 [View failing branch](https://github.com/MrFrankel/ngx-popper/compare/master...MrFrankel:greenkeeper%2Fchalk-2.4.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

chalk is a devDependency of this project. It **might not b

[2019-01-11 15:45] vinayakpatil opened #104 "invoking function `extractAppliedClassListExpr` inside template binding causes too many class mutations"
Since `popper-content` component is not using `OnPush` change detection strategy, custom classes are mutated too often and causes slowness especially in IE11

Can you also suggest any way to lazy render `popper-content`? We are using many popper instances and these above class mutations further slow down things in IE

[2019-01-12 07:06] MrFrankel commented on #104
@vinayakpatil ill check about converting popper-content to onPush, should be possible and more performative. Shouldn't take more then a couple of days.
Thanks for bringing this up!

[2019-01-13 09:44] #103 closed

[2019-01-13 09:44] #102 closed

[2019-01-13 09:44] #99 closed

[2019-01-13 09:44] #98 closed

[2019-01-13 09:45] #97 closed

[2019-01-13 09:45] #95 closed

[2019-01-13 09:45] #94 closed

[2019-01-13 09:45] #93 closed

[2019-01-13 09:45] #92 closed

[2019-01-13 09:46] #89 closed

[2019-01-13 09:46] #90 closed

[2019-01-13 09:46] #91 closed

[2019-01-13 09:47] MrFrankel commented on #96
@joelonilsson sorry Iv'e missed this one, can you provide a reproducible example? on stackblitz preferable

[2019-01-13 09:54] MrFrankel commented on #104
@vinayakpatil can you try beta version 6.0.0? let me know if it works ok

[2019-01-13 10:06] #22 closed

[2019-01-13 10:06] #54 closed

[2019-01-13 10:06] #60 closed

[2019-01-13 10:06] #72 closed

[2019-01-13 10:06] #78 closed

[2019-01-13 10:07] #84 closed

[2019-01-13 10:20] vinayakpatil commented on #104
Sure, thanks for the quick turnaround

[2019-01-13 10:49] vinayakpatil commented on #104
@MrFrankel I am facing below error in my code

[code]

[2019-01-13 10:55] vinayakpatil commented on #104
This below change seems to work fine

[code]

[2019-01-13 11:33] MrFrankel commented on #104
are you using appendTo property?

[2019-01-13 11:33] vinayakpatil commented on #104
Sharing the stack trace

[logs.txt](https://github.com/MrFrankel/ngx-popper/files/2753023/logs.txt)

[2019-01-13 11:37] MrFrankel commented on #104
@vinayakpatil try v 6.0.1

[2019-01-13 11:37] vinayakpatil commented on #104
@MrFrankel Yea, I am using `popperAppendTo="body"`

[2019-01-13 11:41] vinayakpatil commented on #104
@MrFrankel
[code]

we need to remove the second `detectChanges` since we already have wrapped it in `if`

[2019-01-13 11:43] MrFrankel commented on #104
oops.... 6.0.2.

[2019-01-13 11:47] vinayakpatil commented on #104
Works as expected now, thanks @MrFrankel

[2019-01-13 11:48] MrFrankel commented on #104
ill let it run a few days before releasing a stable version.

[2019-01-14 23:37] joelonilsson commented on #96
@MrFrankel No worries, we managed to get around it by re-binding the original hideOnClickOutsideHandler. But it would be appreciated if you could fix it anyways.
Here's a small demo of the issue: https://angular-ntaw42.stackblitz.io

[2019-01-15 08:18] MrFrankel commented on #96
@joelonilssoncan you provide the like in order to edit the repo? so I can check how to resolve this?

[2019-01-15 09:21] joelonilsson commented on #96
@MrFrankel I accidentally sent the link without the edit mode. I updated it now.

[2019-01-15 09:37] joelonilsson commented on #96
@MrFrankel Only when there is a dialog or something with a backdrop active.
So if only the popper is active, then clicking outside should close it. But if you open a dialog from the popper, then clicking anywhere (.cdk-overlay-container), should keep the popper open.

Maybe this is not preferred behavior by everyone, but in that case it could be configurable.

[2019-01-15 09:46] joelonilsson commented on #96
@MrFrankel This is how I think it should behave. But this uses a workaround with re-binding the handler.
https://stackblitz.com/edit/angular-zodtnq

[2019-01-15 09:48] MrFrankel commented on #96
@joelonilsson there is no way for a popper to know what should close the popper or not, popper listens  to a click on the body.
In your use case the dialog should stop click events from propagating, if the Dialog dosnt support it you can add it yourself when the dialog is open like so:
document.querySelector('.cdk-overlay-container').addEventListener('click', (event) => event.stopPropagation(

jus

[2019-01-17 11:08] dmytro-krekota opened #105 "Inconvenient working experience with the option `{preventOverflow:{enabled:false}}` for `popperModifiers`"
Hi @MrFrankel, I use your library and setting the option `[popperModifiers]="{preventOverflow:{enabled:false}}"` in HTML is too strange and not obvious to me. I discovered how to set it only after browsing source files. So, my suggestion is to add an alias, for example `[popperPreventOverflow]="false"` or `[popperPreventOverflowEnabled]="false"`. What do you think about it? If you ok with it, I ca

[2019-01-17 11:14] MrFrankel commented on #105
there are many modifiers that popper.js exposes, I don't wish to add in Input for each of them as the directive already holds many Input.
However I agree that preventoverflow is a common one and it would be a good idea to add an Input for it,
I would prefer popperPreventOverflowEnabled.

A PR would be gr8, just keep in mind that preventOverflow: {enabled: false} should be paired with hide: {enable

[2019-01-20 13:31] #105 closed

[2019-01-23 10:17] tonysamperi opened #107 "Popper settings applied to one instance will apply to all poppers"
When running this

`
@ViewChild("myPopper") popperContent: PopperContent;

this.popperContent.popperSettings.styles.maxWidth = "190px";

`

settings will apply to all poppers

Blitz (yes it's the official name ;) ) here https://stackblitz.com/edit/ngx-popper-settings-bug

[2019-01-24 11:19] MrFrankel commented on #107
I think you mean popperOptions.
Anyway it should be fixed in 6.0.6

Thanks for brining this up

[2019-01-24 11:22] tonysamperi commented on #107
Yep, `popperOptions`.

Thank you

[2019-01-24 11:22] MrFrankel commented on #107
Can I close this?

[2019-01-24 15:23] jandresampaio commented on #80
Hi,

Seems this is still an issue in isFixed when parentNode is null.
Happens when:
1) Component has popper with
`[popperAppendTo]="'body'"`
2) After the component is destroyed (after leaving a route where the component is destroyed)
3) Reenter the component and scroll - isFixed returns the exception reported in this bug description (nodeName of undefined)

Thank you

[2019-01-28 14:53] jandresampaio opened #108 "Console errors nodename of undefined"
Hi,

Following #80  , seems this is still an issue in isFixed function when parentNode is null.
We've managed to reproduce the same issue by doing the following:

1) After the component is destroyed (after leaving a route where the component is destroyed)
2) Reenter the component and scroll - isFixed returns the exception reported in this bug description (nodeName of undefined)

Thank you

[2019-01-31 09:33] MrFrankel commented on #108
can you send over the inputs(html) that you are using?

[2019-01-31 11:51] jaipresto opened #109 "popperTimeoutAfterShow"

[2019-01-31 12:01] jaipresto commented on #109
[...Sorry I hit enter by accident]. Issue is simply that the popperTimeoutAfterShow doesn't work if the initial show is done programmatically. For example:

[code]
shown by calling

[code]

does not hide after 15 seconds. I've tried: passing the number in quotes, different times, and mixing various other options - but nothing works. Not sure if this is intentional, or something not thought about.

[2019-01-31 13:43] MrFrankel commented on #109
@jaipresto when working with the API you override the directive ability to know when to hide the popper. since you are showing the popper programatically I suggest you hide it programatically too.

[2019-01-31 14:06] jaipresto commented on #109
@MrFrankel As I thought. Thanks for the response though :)

[2019-01-31 14:06] #109 closed

[2019-01-31 14:20] jandresampaio commented on #108
Hi,

Code is the following. We're using a single Popper, showing itemTooltip dynamically. When removing the (onPopperShow) event handler it does not have the mentioned error. How can we replace this with other code that does not result in the error  ? Or is it really a bug ?

Thank you.

`    <div
                                    [popper]="popperContent"
                                    popp

[2019-01-31 18:39] MrFrankel commented on #108
why are you calling popperContent.show() on (popperOnShown)?
popperOnShown is triggered when the popper is shown, why would you then call show again?

I guess im missing something.

also im not sure how this related to the issue you opened, this dosnt have popperFixedPosition set to true

[2019-01-31 19:01] jandresampaio commented on #108
It was the only way we managed to find in order to update Popper content text. Is there another way to do it ?

Because we're using that as global setting in app module:

    NgxPopperModule.forRoot({
            placement: "bottom",
            trigger: "hover",
            positionFixed: true,
            applyClass: "popperContainer",
            showDelay: 900,
            styles: { "backgroun

[2019-02-04 17:02] Necroskillz opened #110 "popper.js peerDependency is locked to a specific version"
Not sure if this is intended, but in on of 6.x releases you set peerDependency of popper.js to `1.14.3`. I had to downgrade it. If there is not a specific reason for it, could you set it to a range like `^1.14.3` or at least `~1.14.3`.

If popper.js correctly uses semantic versioning, this will allow us to use latest fixes without changes required in this library.

[2019-02-05 11:45] MrFrankel commented on #110
@Necroskillz ill fix it next release, probably in the next couple of days

[2019-02-05 11:45] MrFrankel commented on #108
could you provide the stack trace for this?

[2019-02-05 13:14] jandresampaio commented on #108
ERROR Error: Uncaught (in promise): TypeError: Cannot read property 'nodeName' of undefined
TypeError: Cannot read property 'nodeName' of undefined
    at isFixed (popper.js:563)
    at isFixed (popper.js:570)
    at getBoundaries (popper.js:632)
    at preventOverflow (popper.js:1817)
    at popper.js:882
    at Array.forEach (<anonymous>)
    at runModifiers (popper.js:869)
    at Popper.update

[2019-02-08 07:41] vinayakpatil commented on #110
+1

[2019-02-10 08:50] MrFrankel commented on #110
fixed in 6.0.7, please verify

[2019-02-10 08:58] vinayakpatil commented on #110
Thanks @MrFrankel , works as expected now.

[2019-02-10 09:23] #110 closed

[2019-02-13 19:34] sirrocco opened #112 "Popper with popperTimeoutAfterShow remains open"
Hi,

I'm getting a reference to the popper directive using ViewChild and on it I'm calling the `show` method. If I call it again within the timeoutAfterShow window, then the timeout gets cleared and the popper remains open.

Is it not ok to use the directive directly? Are you open to changing this behavior?

Thanks.

[2019-02-14 07:32] MrFrankel commented on #112
why don't you get a reference to the popper-content element and call show/hide on it?

[2019-02-14 07:34] MrFrankel commented on #108
@jandresampaio sorry but I have not managed to reproduce this, any change to get a stackblitz on this?

[2019-02-14 12:52] sirrocco commented on #112
If I use popper content it ignores the `timeoutAfterShow` property

[2019-02-14 14:30] MrFrankel commented on #112
If you are using the popper programatically then you should manage the timeout yourself
trying to support a mix of programmatic and configuration can get very complicated.

[2019-02-18 06:54] sirrocco commented on #112
The only thing is that it's strange that the behavior is different when opened programatically vs user action. Why is the timeout ignored in this case?

Thanks

[2019-02-18 10:23] hardcoreguru opened #113 "popperHideOnScroll not working on mobile devices"
i am using version 5.1.7.
I have tried even setting manually
[popperHideOnScroll] = "false"

but yet on mobile when i try to scroll the page the popper closes. On desktop no problem. Seems like on android/iphone the event is considered as click outside instead of swiping/scrolling

[2019-02-20 18:43] MrFrankel commented on #113
@hardcoreguru can you try version 6.1.2-beta? let me know if it works

[2019-02-20 18:54] MrFrankel commented on #112
when you use it via a user action, a second click on an element will trigger a hide event which cleared the isShown flag.

Programatically you can trigger hide right before triggering show again, which will clear the flag.

Cant guarantee this scenario as I said, I don't support this logic programatically

[2019-02-20 18:54] #112 closed

[2019-02-20 18:55] #96 closed

[2019-02-22 09:55] cherlin commented on #82
We're seeing it on Android as well as on iOS devices, in both Safari and Chrome. Any updates on this issue?

[2019-05-02 12:41] leonardofmed commented on #51
Just to complement this question and answer, how can I use this method you provided but for more than one tooltip? Like popperContent1 and popperContent2 for example.

[2019-05-03 12:17] victorcamargos commented on #113
Had the same issue, tried 6.1.2-beta as suggested and it looks fine now.

[2019-05-05 14:23] MrFrankel commented on #113
@victorcamargos ill get around to releasing 6.1.2 tomorrow.

[2019-05-08 09:30] victorcamargos commented on #113
Hi @MrFrankel, thanks! Are you still planning on releasing 6.1.2 this week?

[2019-05-08 10:38] MrFrankel commented on #113
@victorcamargos released 6.2.0.

[2019-05-31 08:27] victorcamargos commented on #113
@MrFrankel, we installed 6.2.0 but the issue is still there. Could you please check and let me know when a new release could be done with the fix?

[2019-06-26 13:31] d9nny opened #114 "Scrolling in ngFor with multiple ngx-popper becomes very laggy after opening the poppers"
Hi,

Thanks for the wrapper, it's great.

I'm having a bad performance issue when scrolling in an ngFor list after multiple dropdown's (using ngx-popper) have been used.

I have a list, each item has a dropdown, which is only added to the DOM if the user is hovering on the item. It works great initially, but as I use more and more of the dropdown's (Only one at a time), the scrolling of the list b

[2019-06-27 07:35] MrFrankel commented on #114
@d9nny i'm happy you find the library useful.
Can you provide some code examples? or better yet a repro?

[2019-07-10 07:01] EylonSu opened #115 "Feature request - always show popper"
Might be nice to add an option that popper will always be visible, or when a condition is fulfilled. e.g:

`<div [popper]="'My tooltip text'" [pooperIf]="someBooleanExpression">My div content</div>`

[2019-07-12 06:38] inloyalty opened #116 "Slow performance when enter text in textbox"
I have used the ngx-popper on a page . when i enter the value in textbox and value is showing after few moment.  I feel text entry very slow the popper.

When i remove popper from page textbox working fine.

Please let me know the work around.

Thanks & Regards
Praveen Singh

[2019-07-15 07:50] #108 closed

[2019-07-15 07:51] #82 closed

[2019-07-15 07:51] #76 closed

[2019-07-15 07:51] #36 closed

[2019-07-15 07:53] MrFrankel commented on #115
@EylonSu Ill see when I can find time to implement this, you are welcome to contribute with a PR

[2019-07-15 07:53] MrFrankel commented on #116
@inloyalty can you provide a repro for this?

[2019-07-19 11:13] Necroskillz commented on #113
Hi, why was this closed? the issue is still there on 6.2.0.

It works fine in 6.1.2-beta, but seems like it was broken again in 6.2.0 or the fix is not there. Please reopen.

[2019-07-22 07:20] MrFrankel commented on #113
@Necroskillz, Sorry, iv’e done some clean up, if this is still relevant for you ill re open it, I try to get to it in the near future

[2019-08-01 13:03] ArtemGrachov commented on #54
It helped me, thanks.

[2019-08-06 05:42] steve3d opened #117 "NgxPopperModule.forRoot should be only used with AppModule"
to my understanding, the module.forRoot should be only used in bootstrapped module, and any options passed by forRoot should be inherit into any other module.

but now ngx-popper need to use forRoot on every module and repeatly set the options. the options didn't inherit from the bootstrapped module.

So I don't know if this is the design or something wrong?

[2019-08-06 05:56] steve3d commented on #117
just checked the source, you are using the provider to set the default options, and provider is module indepentend, so by your design this is the correct result.

you might need to change from plain string `provide: 'popperDefaults'` to
[code]

[2019-08-07 03:27] steve3d commented on #117
no, the problem is not the InjectionToken, because in module you write:
[code]
this will make any module import use a empty option, to use a default option, we need to use `forRoot` in every module import to set the options, and also because of these lines, you all options can not be inherited into children modules of AppModule.

[2019-08-12 13:16] pxtnpxtn opened #119 "Set multiple popperPlacement"
I was wondering if there is a mechanism in place to give preferred popperPlacements, such as for it to originally be a 'top-end', but if it isn't able to do that, it uses 'left-end' (instead of simply flipping to bottom-end, which doesn't work as well in my app).

Thank you for your time. Really enjoying ngx-popper!

[2019-08-14 08:49] MrFrankel commented on #119
@pxtnpxtn , not currently, no, might be a good idea to allow an input a ordered list of placements. I might get to it in a couple of weeks, feel free to put in a PR if you want.

happy are finding this tool useful

[2019-08-14 08:50] MrFrankel commented on #117
@steve3d , thanks for bringing this up, sorry for the late reply, i've been away i'll try looking into this soon, feel free to put in a PR if you like.

[2019-08-15 15:23] steve3d commented on #117
when can we expect the new version?

[2019-08-29 04:05] sulha199 opened #121 "Timeout instance still running after the host component is destroyed"
Timeout instance still running after the host component is destroyed. This happens on the build version generated by ng build.

[code]

Show timeout still running and then create another hidetimeout after host component is destroyed.
[code]

[2019-09-09 14:13] leonardofmed opened #122 "NullInjectorError: StaticInjectorError(AppModule)[popperDefaults]"
Hi, I'm having some troubles adding this library in my project. I already used this library before without problems, but now, implementing this the same way as before give me this error:

I checked the documentation, everything looks exactly the same. I imported the module in various ways and in different locations and still receive this error no matter what I try.

Using Ionic v4 and ngx-popper v

[2019-09-10 04:51] k10der commented on #122
Hey, @leonardofmed. I ran into the same issue today. Adding `NgxPopperModule.forRoot({})` to the root app module import list seemed to resolve the problem.

[2019-09-10 18:09] leonardofmed commented on #122
This really fixed the issue! Can you explain why I have to do this way? Also, why the default way is working in other projects I have?

[2019-09-15 17:33] k10der commented on #122
Hey, @leonardofmed. I'm not 100% sure about the cause of this issue now.

But if we look at the code and check `popper-directive.ts` we'll see that it depend on injectable with string injection token (which I don't think is allowed at the moment - maybe it was OK in the past).

![image](https://user-images.githubusercontent.com/6381515/64925322-61402b00-d7f7-11e9-9b39-a105a0da10df.png)

This injec

[2019-10-03 15:38] k-i-k-s commented on #51
@leonardofmed you can use @**ViewChildren** and **QueryList**

[2019-10-07 16:28] wmehanna commented on #122
This should be in the doc. thanks

[2019-10-07 19:18] #122 closed, assigned to nobody

[2019-10-14 09:12] sirrocco opened #123 "One popper for multiple targets"
Hi,

Having many poppers on an already heavy page can cause performance problems. I was looking into having one popper that would be placed on the body and then programmatically open it and giving it the reference element and the content.

As far as I can see there's no way to do this with the current implementation and I should use the Popper.js library directly.

Would you say that's correct or

[2019-10-18 15:37] mpicciollicmq commented on #123
Did you try with popperTarget attribute ?

[2019-11-04 16:48] SamanthaGeorges opened #124 "No compatible with angular8"

[2019-11-15 11:02] k-i-k-s opened #125 "Error: StaticInjectorError(AppModule)[popperDefaults]"
I already installed **ngx-popper** in some projects but in this one I get this error:

`core.js:15724 ERROR Error: Uncaught (in promise): Error: StaticInjectorError(AppModule)[popperDefaults]:
  StaticInjectorError(Platform: core)[popperDefaults]:
    NullInjectorError: No provider for popperDefaults!`

Clearly I'm lost with this error, I don't know what's happening since there is no service to pr

[2019-12-09 11:25] DerZyklop opened #126 "Get rid of unecessary clearTimeout()"
I have a webapp with a lot of poppers in a calendar-view. Each calender-event can have its own popper. On logout, the calender gets destroyed and so do all the poppers. Now we get a performance issue, because of a lot of clearTimeout()'s. I found them in ngOnDestroy in popper-directive.ts:

https://github.com/MrFrankel/ngx-popper/blob/5a8af2804032d1ac397486af03fa95bd84f61427/src/popper-directive.t

[2019-12-12 17:09] dennisfleischmann commented on #124
When will be an supported version for Angular 8?

[2019-12-18 22:16] dharmeshds opened #128 "popperTarget issue when used with element hidden by *ngIf (in Angular 8)"
Getting the error "Cannot set property 'referenceObject' of null" when loading the component because the element attached to popperTarget is conditionally hidden with *ngIf. Would anyone suggest an alternative or a fix please?

[2020-01-02 09:08] #123 closed, assigned to nobody

[2020-01-23 14:31] verfault commented on #125
@Dunk14 You need include `NgxPopperModule` in imports of your NgModule with `forRoot` - `NgxPopperModule.forRoot()`. Works fine for me.

[2020-01-29 14:17] leunardo commented on #124
I am currently using Angular 8.2.14 (without ivy) and it's working as expected.

[2020-01-29 14:23] leunardo opened #130 "Migrate to Popper 2.x"
Hello,

I would like to migrate the package to use the new version of Popper.

We need to apply the instructions provided in https://popper.js.org/docs/v2/migration-guide/.

If you are interested in this change I can help with a pull request.

This change will introduce a breaking change in the package.

[2020-01-30 16:24] axrae commented on #114
[Here](https://stackblitz.com/edit/angular-issue-repro2-8bzatu)'s one i did trying to track down why touch events fired on wrong locations after including ngx-popper. It didn't end up reproducing my issue, but it does do bad things to FPS while scrolling after opening and closing ever more tooltips.

[2020-03-12 09:45] aleksander351 commented on #72
@MrFrankel Hi. When using [appendTo]="'body'", the element gets appended to body, but is not destroyed after hiding. Can you confirm?

[2020-03-23 18:06] abhisheksaxenaa opened #131 "Multiple buttons to trigger same popper"
I have a doubt if it is possible or not.

### Code
https://stackblitz.com/edit/angular-gy3uak

### Current Behavior
There are two buttons. When I choose to click button 1 - popper is showing below button 1. Without clicking anywhere else, I am clicking button 2 - popper not showing. After clicking second time on button 2 - popper showing below button 2.

### Expectation
When I am clicking button 2

[2020-03-26 11:59] #131 closed, assigned to nobody

[2020-03-31 13:49] castevinz commented on #130
And by the way to correct the ngcc compilation problems for Ivy (angular 9):
[code]

[2020-04-03 22:56] ShivManne commented on #72
I do have the same questions as @aleksander351 . the element is not destroyed on popper hide.  Is this as per design ?

[2020-04-21 23:08] cosmoKenney opened #134 "popperHideOnClickOutside doen't work when you click on an iframe"
If you click outside of a shown popper, on the same document that contains the popper, then the popper is hidden. But clicking in an iframe within the document has no effect.

Is there a catch all close all poppers I can invoke in some way?

[2020-04-22 14:47] OriolInvernonLlaneza opened #135 "Support for Angular 9 (NgxPopperModule does not have 'ngModuleDef' property)"
I'm currently using Angular 8 and the latest version of ngx-popper (7.0.0). After updating Angular, my app started crashing with the following error:
`Uncaught Error: Type NgxPopperModule does not have 'ngModuleDef' property`

I have been browsing through Angular issues and the only information I have acquired is that the error is related to Ivy. I'd greatly appreciate any help or clue if the prob

[2020-04-22 14:48] juona opened #136 "Is it possible to intercept hideOnClickOutside?"
Hi! The wrapper works great, thanks for your work. Here's an issue I'd like to solve: I open the popper using a button click. I would like the popper to remain open if I click the same button again and only close if I click anywhere else. How could I achieve that?

[2020-05-08 02:09] kceb opened #137 "popperOnShown called multiple times."
I used the following code block
[code]

`onShown` gets called a lot of times on initialization and keeps getting called.

[2020-05-08 02:35] #137 closed, assigned to nobody

[2020-05-13 00:26] cosmoKenney commented on #134
@MrFrankel

Anyone reading these? I'm finally getting back to this project and I need to get this working.

[2020-05-14 07:45] odysseasdiamadis commented on #122
Today I faced this problem again, and the solution provided by @k10der didn't work.
When I tried to add `NgxPopperModule.forRoot({})` I got the following error

`Type 'ModuleWithProviders<NgxPopperModule>' is not assignable to type 'Provider'.
  Type 'ModuleWithProviders<NgxPopperModule>' is missing the following properties from type 'any[]': length, pop, push, concat, and 26 more`.

I'm using Ang

[2020-05-14 08:35] k10der commented on #122
Hey, @mantador. It looks like my initial message was not quite correct, as I mentioned "root app module **provider list**", which should have been "root app module **import list**". The error you're sharing here is probably related to my mistake.

So, **instead of**
[code]
it **should** be
[code]

[2020-05-14 09:13] odysseasdiamadis commented on #122
I admit, I copy-pasted without thinking. My fault! Thank you!

[2020-05-18 06:12] jamra commented on #116
@inloyalty maybe you can check if the code that goes along with the popover is calling some function, which could be triggering change detection repeatedly. That has been a source of slowness for us. Popover is working fast even on busy pages.

[2020-05-18 09:36] victorcamargos commented on #113
Hi,
This is still not solved in 7.0.0 version.
We updated the solution to Angular 9 and need to keep using ngx-popper 6.1.2-beta because of this issue, hoping not to have any other issues with it in Angular 9.
Could you please remember to include the fix in next final version??

[2020-05-19 11:59] benedict1986 opened #138 "How to reload content every time when popper is opened"
Hi, thank you for sharing such nice wrapper of popper. Can you please provide some suggestions on how to reload/refresh content every time when popper is opened or closed?

For example, I have the following code and would like to reload the component every time.

Thank you

`  <popper-content #newPoper>
    <app-popper-payload></app-popper-payload>
  </popper-content>`

[2020-06-02 06:56] ViralVikku commented on #2
Hi @MrFrankel
I have used in forRoot
`NgxPopperModule.forRoot(    {
            trigger: Triggers.CLICK,
            hideOnClickOutside: true,
            disableDefaultStyling:true
        }),` <br>
HTML
`<div class="form-control flex-grow-1 dropdown-display" [popper]="dropDownMenu" [popperStyles]="" [popperPlacement]="'bottom-start'" [popperHideOnScroll]="true">
                {{ model.selected

[2020-08-04 15:52] ghost commented on #128
I use the css property visibility to hide/show the element attached to the popper.

[2020-09-06 11:54] tonysamperi commented on #117
I just stumbled across this, when upgrading a library of mine which uses NgxPopper.
I was previously using NgxPopper `6.0.7` and everything was fine.
But now with v `7.0.0` I got an error saying `NullInjectorError: No provider for popperDefaults!` which I had to solve by adding the `forRoot` to a secondary module (luckily it was only 1).

[2020-09-06 11:55] tonysamperi commented on #117
@steve3d if you're interested I'm about to fork this project because I noticed that MrFrankel has not been answering lately, I need this and I don't want the extra forRoot and I need to make everything work with Angular 9 for a project I'm working on...

[2020-09-15 16:40] tonysamperi commented on #117
@steve3d just released ngx-popperjs@8.0.3 with some improvements, like this and upgrade to @popperjs/core 2

[2020-09-15 16:44] tonysamperi commented on #130
@leunardo Just released ngx-popperjs@8.0.3 which is based on this one and now uses Popper 2 and Angular 8 (updating to Angular 9 and 10 in the next few days)
@castevinz shouldn't also incur in the error you reported!

demo here => https://tonysamperi.github.io/ngx-popperjs/

[2020-09-15 16:47] tonysamperi commented on #136
![image](https://user-images.githubusercontent.com/5957244/93239978-d1271f80-f783-11ea-89c5-2f3b89f56d01.png)

@juona use the disabled attribute! When disabled, the ouside click won't close the popper!

By the way I just released ngx-popperjs@8.0.3 which now works with Angular8. Will upgrade to Angular 9 and 10 in the next few days...
Demo here => https://tonysamperi.github.io/ngx-popperjs

[2020-09-15 16:49] tonysamperi commented on #128
@dharmeshds could you create a Blitz?
I just released my ngx-popperjs@8.0.3 which now uses Popper 2 and Angular 8...maybe I could handle this!

[2020-09-15 18:31] tonysamperi commented on #125
@Dunk14 I actually solved this in my ngx-popperjs@8.0.3 no need for extra forRoot!
Works with Angular 8 for now, but I'm updating to 9 and 10 in the next few days!
**PS uses Popper 2!!!**
demo => https://tonysamperi.github.io/ngx-popperjs

[2020-09-16 07:27] ghost commented on #128
HI, for the old version of the library you can wrap both the element attached to popperTarget and popper itself in the *ngIf.

it will be something like this:
[code]
It works without error.

[2020-09-16 10:12] tonysamperi commented on #128
![image](https://user-images.githubusercontent.com/5957244/93324163-d2089180-f815-11ea-8c44-84b7022e435d.png)

I handled this scenario and now you can have an undefined ref, but of course it will show an empty popper...
So it's always better to hide everything.

Will release this in v 8.0.4...

[2020-09-16 13:44] juona commented on #136
Thanks, but unfortunately that's not what I wanted : ]

- outside click closes popover = GOOD
- same button click closes popover = BAD

I wish the popper to remain open if I click the same button that was used to open it in the first place. And close if clicked anywhere else.

[2020-09-16 13:53] tonysamperi commented on #136
Yeah I had already understood what you need, but I hadn't noticed that the changing *disabled* attribute also hides the popover...
It seems that you need a very precise solution that you could achieve with a few tricks...

[2020-10-08 16:04] tonysamperi commented on #135
@OriolInvernonLlaneza if you want you can checkout my popper derived from this.
I upgraded to popper 2 and angular 9

https://tonysamperi.github.io/ngx-popperjs/

[2020-10-08 16:05] tonysamperi commented on #126
@DerZyklop did this, if you still need a performance boost! https://tonysamperi.github.io/ngx-popperjs/

[2020-11-24 13:32] Sariq opened #149 "ModuleWithProviders error"
I'm getting this error after upgrading to angular10:

node_modules/ngx-popper/src/popper.module.d.ts:5:63 - error TS2314: Generic type 'ModuleWithProviders<T>' requires 1 type argument(s)

[2020-12-18 19:12] john8329 opened #150 "Variable 'state' is true by default even if the popover isn't open"
I'm using the `state` variable to check if the popover is open in order to lazy load its contents (which has a bad name IMO, 'visible' would be better). Apparently the popover always starts with `state` = `true`, even if the popover isn't visible. Is it by design? What does it mean?

I expect the popover to be hidden (unless otherwise specified) and the variable to be `false`.

If I toggle the sta

[2021-02-02 22:12] kachaii opened #151 "Disable tooltip from ts"
I want to disable the popper tooltip from the ts file i have a condition and i want to get the popper with viewchild and disable it i use hover like poppertrigger  any idea please ?
exemple i have :

[code]

and in my ts when i use my function to disable tooltip not working  always my tooltip show in hover

[2021-03-29 08:31] dulikmixail commented on #149
I am getting exactly the same error using Angular 10

[2021-04-01 06:49] gtaylor44 commented on #10
createPopper(reference, popper, {
  strategy: 'fixed',
});

Default position is "absolute". This resolved the issue for me.

[2021-09-13 13:17] scottaohara opened #163 "'popper' isn't an aria role"
seems that as a default this should be `role=tooltip`.  'popper' isn't a valid aria role, and thus it will be ignored by assistive technologies.

additionally, the tooltip should be associated with the element to which is provides this additional information by default.  The demo page, for example, would benefit from having `aria-describedby` point to each of the example tooltips from the element

[2022-05-18 06:29] sonikasharma1403 commented on #82
Hi @MrFrankel , This issue is still reproducible. Is there any update on this?

[2022-10-11 19:20] nicolasmatias commented on #67
Hello jamra,

i thin i have the same problem as you when i use ngfor in some page.

`<div>
  <div
    [popper]="popperContent"
    [popperPlacement]="placement"
    (popperOnUpdate)="test($event)"
    (popperOnShown)="showTooltip()"
    (popperOnHidden)="closeTooltip()"
    [popperDisabled]="disabled"

    <ng-content></ng-content>
  </div>
  <div #popperContentPanel [ngClass]="placement == 'botto